{% import "_macros.html" as macros %}

<center>

<div id="page-body">
    <form name="input" class="form-horizontal" id="submitPost" method="post">
        <div class="sharestory1">
            <div class="lead">Who Inspires You?<br>
                <h5>Share you story about an empowering female<br>
                whose activism has inspired you.</h5>
                <div class="control-group">
                    <input class="activist_first_name" name="activist_first_name" title="Activist First Name"
                           value="{{ activist_first_name or '' }}" maxlength="140" placeholder="Mary" required>
                    <input class="activist_last_name" name="activist_last_name" title="Activist Last Name"
                           value="{{ activist_last_name or '' }}" maxlength="140" placeholder="Smith" required>
                </div>
            </div>

            <div class="lead">She Lived<br>
                <h5>If still living, enter "Today".</h5>
                <div class="control-group">
                    <input class="input_birth" name="input_birth" title="Activist Start Date" maxlength="4" placeholder="1960"
                           value="{{ activist_start_date or '' }}" required> -
                    <input class="input_death" name="input_death" title="Activist End Date" maxlength="5" placeholder="Today"
                           value="{{ activist_end_date or '' }}" required>
                </div>
            </div>
        </div>

        <div class="sharestory2">
            <div class="lead">What is She Known For?<br>
                <h5>Choose one or more categories.</h5>
                <div class="control-group">
                    <select class="selectpicker" data-width="fit" name="input_tags" multiple required>
                        {% for tag in tags %}
                            {% if tag.name in tag_list %}
                                <option selected value="{{ tag.name }}">{{ tag.name }}</option>
                            {% else %}
                                <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="lead">Share Her Story<br>
                <h5>Share a few words about how your female activist<br>
                has inspired you and others.</h5>
                <div class="control-group">
                    <textarea id="editor1" name="editor1" placeholder="My mother was ..." required>{{ content or '' }}</textarea>
                </div>
            </div>

            <div class="lead">Add a Link<br>
                <h5>Enter a URL to allow others to learn<br>
                more about your female activist online. [Optional]</h5>
                <div class="control-group">
                   <input class="input_url_link" name="input_url_link" title="Activist Link" maxlength="140"
                          value="{{ activist_link or '' }}" placeholder="msmith@gmail.com">
                </div>
            </div>

            <div class="lead">Add Media<br>
                <h5>Upload your favorite photo or video of your<br>
                female activist to help tell your story. [Optional]</h5>

                <div class="control-group">
                    <button type="button" class="upload_image">Upload Image</button>
                    <button type="button" class="upload_video">Upload Video</button>
                </div>
                <h5 class="image_link" style="display:none;">Enter an image URL</h5>
                <input id=image_link class="image_link" name="image_link" title="Image Link"
                          value="{{ image_link or '' }}" style="display:none;">

                <h5 class="video_link" style="display:none;">Enter a YouTube or Vimeo URL</h5>
                <input id=video_link class="video_link" name="video_link" title="Video Link"
                          value="{{ video_link or '' }}" style="display:none;">
            </div>
        </div>
    <br>


        <div class="sharestory3">
            <div class="lead">Tell Us About Yourself<br>
                <h5>If you would like to share your name, enter below.<br>
                Your email address will not be made public. [Optional]</h5>
                <div class="control-group">
                    <input class="author_first_name" name="author_first_name" title="Author First Name" maxlength="140"
                           value="{{ author_first_name or '' }}" placeholder="Mary">
                    <input class="author_last_name" name="author_last_name" title="Author Last Name" maxlength="140"
                           value="{{ author_last_name or '' }}" placeholder="Smith"> <br>
                    <input class="author_email" name="author_email" title="Author Email" maxlength="140"
                           value="{{ author_email or '' }}" placeholder="msmith@gmail.com">
                </div>
            </div>
        </div>

        <div class="g-recaptcha" data-sitekey="6LetUSYTAAAAALgTT8Rt2nLZ2OTBNph6Qa1TbrAH"></div> <br>

        <div id="requestButton" class="control-group">
            <div>
                <button type="submit" title="submit_post" class="btn btn-primary">Share</button>
            </div>
        </div>
    </form>
</div>

</center>

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".upload_image").click(function(){
        $(".image_link").show();
        $(".video_link").hide();
        $(".video_link").val('');
    });
    $(".upload_video").click(function(){
        $(".video_link").show();
        $(".image_link").hide();
        $(".image_link").val('');
    });
});
</script>
{% endblock %}