{% for story in stories %}
    <a href="{{ url_for('stories.view', story_id=story['_id']) }}">
        <div class="home-story col-lg-3 col-md-4">
            <div class="home-story-content">
                <h4>{{ story['_source']['activist_first'] }}&nbsp;{{ story['_source']['activist_last'] }}</h4>
                {% if story['_source']['image_url'] %}
                    {% if story['_source']['content']|length < 50 %}
                        <p>{{ story['_source']['content'] }}</p>
                    {% else %}
                        <p>{{ story['_source']['content']|truncate(50) }}</p>
                    {% endif %}
                    <div class="img-mask" style="background-image: url({{ story['_source']['image_url'] }});">
                {% else %}
                    {% if story['_source']['content']|length < 350 %}
                        <p>{{ story['_source']['content'] }}</p>
                    {% else %}
                        <p>{{ story['_source']['content']|truncate(350) }}</p>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </a>
{% endfor %}