{% extends "base.html" %}

{% block page_content %}


    <div class="container-fluid">
        <form name="input" class="form-horizontal" id="submitPost" method="post">

            <div class="row activist_information">

                <div class="row">
                    <div class="col-md-12  share_title">
                         Who Inspires You?
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 share_title ">
                        <h5> Share your story about a woman <br>
                            whose activism has inspired you</h5>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6 col-md-push-3">

                            <div class="col-md-5 ">
                                <input class="activist_info_field" name="activist_first_name"
                                       title="Activist First Name"
                                       value="{{ activist_first_name or '' }}" maxlength="30" placeholder="Mary"
                                       required>
                            </div>
                        <div class="col-xs-2"></div>


                            <div class="col-md-5 ">
                                <input class="activist_info_field" name="activist_last_name"
                                       title="Activist Last Name"
                                       value="{{ activist_last_name or '' }}" maxlength="30" placeholder="Smith"
                                       required>
                            </div>
                        <div class="row"><span class="required">required</span></div>

                        <div class="col-md-12">&nbsp;</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-push-3">
                    <div class="row">
                        <div class="col-md-12  share_title">
                            <h2> She lived </h2>
                        </div>
                     </div>
                     <div class="row">
                         <div class="col-md-12"><br></div>
                     </div>

                            <div class="col-md-5">
                                <input class="activist_info_field" name="input_birth"
                                       title="Activist Start Date"
                                       maxlength="4"
                                       placeholder="1960"
                                       value="{{ activist_start_date or '' }}"><br /><span class="required">from</span>
                            </div>


                        <div class="col-xs-2">&mdash;</div>


                            <div class="col-md-5 ">
                                <input class="activist_info_field" name="input_death" title="Activist End Date"
                                       maxlength="5"
                                       placeholder="Today"
                                       value="{{ activist_end_date or '' }}"><br /><span class="required">to</span>
                            </div>
                        </div>
                    <div class="row">
                    <div class="col-md-12 ">
                        <h5> if still living, enter "Today" </h5>
                    </div>
                </div>

                    </div>
                </div>




                            <div class="row activist_story">

                                <div class="row share_title">
                                <div class="col-md-12 ">
                                    What Is She Known For?
                                </div>
                            </div>
                                <div class="row share_title">
                                <div class="col-md-12">
                                    <h5> Choose one or more categories. </h5>
                                    <div class="control-group">
                            <div class="tag_buttons">
                                {% for list in tags %}
                                    <div class="row">
                                        {% for tag in list %}
                                            <button onclick="category_button_click('{{ tag.name }}')" type="button"
                                                    value="{{ tag.name }}" id="{{ tag.name }}" class="btn btn-primary"
                                                    data-toggle="button"
                                                    name="{{ tag.name }}" data-button="{{ tag.name }}"
                                                    aria-pressed="false"
                                                    autocomplete="off">{{ tag.name }}</button>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                                </div>
                            </div>

                                 <div class="row share_title">
                                <div class="col-md-12 ">
                                     Share Her Story
                                    <h5> Share a few words about how your woman activist <br>
                                         has inspired you and others
                                    </h5>
                                    <textarea class="activist_story_input" id="editor1" name="editor1" maxlength="1500" placeholder="Enter your story here" rows="10" required=""></textarea>
                                </div>
                            </div>

                            <div class="row share_title">
                                <div class="col-md-12 ">
                                     Add A Link
                                    <h5> Enter a URL to allow others to learn <br>
                                        more about your woman activist online

                                    </h5>
                                    <div class="control-group">
                                <input class="activist_info_field col-sm-push-4 col-sm-4" name="input_url_link"
                                       title="Activist Link"
                                       maxlength="140"
                                       value="{{ activist_link or '' }}" placeholder="www.activistwoman.com">
                            </div>
                        </div>

                                </div>

                                <div class="row">
                                    <span class="required">optional</span></div>


                                <div class="row">
                                <div class="col-md-12  share_title">
                                            Add Media
                                    <h5> Add your favorite photo or video of the <br>
                                        woman activist to help tell her story.

                                    </h5>
                                    <div class="control-group" style="max-width: 6em; margin: auto auto 1.5em;">
                                <button type="button" class="upload_image" id="media_action_button_image">
                                    Add Image Link
                                </button>
                                <button type="button" class="upload_video" id="media_action_button_video">
                                    Add Video Link
                                </button>
                            </div>
                                </div>
                                </div>



                            </div>




                <div class="row activist_information">
                                <div class="row share_title">
                                <div class="col-md-12 ">
                                     Tell Us About Yourself
                                </div>
                                </div>


                <div class="row activist_information">
                    <div class="row">
                    <div class="col-md-12  share_title">
                        <h5> If you would like to share your name,enter below. <br>
                             Your email address will not be made public</h5>
                    </div>
                </div>
                </div>

                    <div class="row">
                    <div class="col-md-2 col-md-push-4 ">
                                <input class="activist_info_field" name="activist_first_name"
                                       title="Activist First Name"
                                       value="{{ activist_first_name or '' }}" maxlength="30" placeholder="Mary"
                                       required>
                            </div>
                        <div class="col-xs-2"></div>


                            <div class="col-md-2 col-md-push-2 ">
                                <input class="activist_info_field" name="activist_last_name"
                                       title="Activist Last Name"
                                       value="{{ activist_last_name or '' }}" maxlength="30" placeholder="Smith"
                                       required>
                            </div>
                        </div>

                            <div class="row">
                            <div class="col-md-3 col-md-push-4">
                        <input class="activist_info_field" name="author_email" title="Author Email"
                                       maxlength="140"
                                       value="{{ author_email or '' }}" placeholder="msmith@gmail.com"
                                       style="padding-top: 1em;">
                    </div>
                    </div>





                </div>


        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/i18n/defaults-*.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".upload_image").click(function () {
                $(".image_link").show();
                $(".video_link").hide();
                $(".video_link").val('');
            });
            $(".upload_video").click(function () {
                $(".video_link").show();
                $(".image_link").hide();
                $(".image_link").val('');
            });
        });
    </script>
    <script>
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            $('#chars').text(length + " / 1500 used");
        });
    </script>
    <script type="text/javascript">
        function category_button_click(tag_name) {
            var category_button = document.getElementById(tag_name);  // get button being pressed
            if (category_button.getAttribute("aria-pressed") == "false") {  // check if the button was previously not active
                $('<input>').attr({
                    type: 'hidden',
                    value: tag_name,
                    name: "category_button",
                    id: "category_button_" + tag_name
                }).appendTo('form');  // add a hidden input field with value of the tag pressed
            }
            if (category_button.getAttribute("aria-pressed") == "true") {  // check if button was previously active
                var hidden_category_button = document.getElementById("category_button_" + tag_name);  // get hidden input field that was created
                hidden_category_button.remove();  // remove hidden input field
            }
        }
    </script>
    {#    <script type="text/javascript">#}
    {#        $('.btn').on('click', function() {#}
    {#            $(this).addClass('active');#}
    {#        })#}
    {#    </script>#}
{% endblock %}