{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Women's Activism NYC{% endblock %}

{% block content %}

    <ul class="stories">
            {% if story['is_visible'] %}
                <li class="story">
                    <div class="story-content">
                        <div class="story-date">
                                {{ moment(story['creation_time']).fromNow() }}
                        </div>
{#                    TODO: add in poster first and poster last if entered     #}
                        <div class="story-name"> <b>{{ story['activist_last'] }},{{ story['activist_first'] }}</b> </div>
                        <div class="story-content">
                                {{ story['content'] | safe }}
                        </div> <br>
                        {% for tag in story['tags'] %}
                            <span class="label label-primary">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    {% if current_user.is_administrator() %}
                        <div class="story-edit">
                            <a href="{{ url_for('stories.edit', id=story['id']) }}">
                                <span class="label label-primary">Edit Story</span>
                            </a>
                        </div>
                        <br>

                        <div class="story-delete">
                            <a href="{{ url_for('stories.delete', id=story['id']) }}">
                                <span class="label label-primary">Delete Story</span>
                            </a>
                        </div>
                        <br>
                    {% endif %}

                    {% if story['is_edited'] %}
                        <div class="story-status">
                                <p3>Edited: {{ moment(story['edit_time']).fromNow() }}</p3>
                        </div>
                        <br>
                    {% endif %}

                    <p1>
                        Something wrong with this story? Tell us!
                    </p1>
                    <div class="story-flag">
                        <a href="{{ url_for('flags.flag_story', id=story['id']) }}">
                            <span class="label label-primary">Flag</span>
                        </a>
                    </div>
                    <br>

                    <p2>
                        Like this story? Share it with friends!
                    </p2>
                    <div id="share-buttons">
                        <!-- Facebook -->
                        <a href="http://www.facebook.com/sharer.php?u={{ url_for('stories.stories', id=story['id'], _external=True) }}" target="_blank">
                            <img src="../static/facebook_icon.png" alt="Facebook" width="32" height="32" />
                        </a>
                        <!-- Tumblr-->
                        <a href="http://www.tumblr.com/share/link?url={{ url_for('stories.stories', id=story['id'], _external=True) }}&name={{ story['activist_first'] }}{{ story['activist_last'] }}&description=WomensActivismNYC" target="_blank">
                            <img src="../static/tumblr_icon.png" alt="Tumblr" width="32" height="32" />
                        </a>
                        <!-- Twitter -->
                        <a href="https://twitter.com/share?url={{ url_for('stories.stories', id=story['id'], _external=True) }}&text={{ story['activist_first'] }}{{ story['activist_last'] }}&hashtags=WomensActivismNYC" target="_blank">
                            <img src="../static/twitter_icon.png" alt="Twitter" width="32" height="32" />
                        </a>
                        <!-- Linkedin -->
                        <a href="http://www.linkedin.com/shareArticle?url={{ url_for('stories.stories', id=story['id'], _external=True) }}&title={{ story['activist_first'] }}{{ story['activist_last'] }}" target="_blank">
                            <img src="../static/linkedin_icon.png" alt="LinkedIn" width="32" height="32" />
                        </a>
                        <!-- Email -->
                        <a href="mailto:?subject=[Women's Activism NYC] {{ story['activist_first'] }}{{ story['activist_last'] }}&body={{ story['content'] }}" target="_blank">
                            <img src="../static/email_icon.png" alt="Email" width="32" height="32" />
                        </a>
                    </div>
                </li>
                </div>

            {% else %}
            <h2>This story has been deleted by a moderator.</h2>
            {% endif %}
    </ul>

{% endblock %}
