<div id="story-content-container-short">
    <img src="https://pbs.twimg.com/profile_images/544983591411675136/y08z2g56.jpeg" id="view-story-img-short" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan, velit at euismod tincidunt, neque enim viverra odio, nec convallis purus ante a mauris. Pellentesque sodales neque nec nibh posuere interdum. Aenean aliquet turpis lacus, ac euismod lacus finibus rhoncus. Vivamus eget dapibus mauris, vitae ornare elit. Praesent tempus orci non dolor auctor, a gravida sapien aliquam.</p>
    <p id="learn-more">To learn more, <a href="#" id="learn-more-link">click here</a>.</p>
    <div id="view-story-social">
        <a href="https://twitter.com/share?url=#####################&text=I%20just%20posted%20a%20story%20about%20a%20woman%20activist%20who%20inspires%20me,%20you%20should%20too!&hashtags=20000By2020">
            <img src="../static/img/twitter_icon.png" />
        </a>
        <a href="http://www.facebook.com/sharer.php?u=#################">
            <img src="../static/img/facebook_icon.png" />
        </a>
    </div>
</div>