{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" id="view-story-container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ story.activist_first }} {{ story.activist_last }}</h1>

                {% if story.activist_end == 9999 %}
                    <p id="story-subheading">{{ story.activist_start }} - Today</p>
                {% else %}
                    <p id="story-subheading">{{ story.activist_start }} - {{ story.activist_end }}</p>
                {% endif %}

                {% if poster %}
                    <p id="story-subheading">By {{ poster.poster_first }} | May 10th, 2016</p>
                {% else %}
                    <p id="story-subheading">{{ story.date_created.strftime('%B %d, %Y') }}</p>
                {% endif %}

                {% if story.image_url %}
                    {%  include 'stories/view-story-image.html' %}
                {% elif story.video_url %}
                    {%  include 'stories/view-story-video.html' %}
                {% else %}
                    {%  include 'stories/view-story-no-media.html' %}
                {% endif %}

            </div>
        </div>
    </div>
    <div class="container-fluid" id="view-story-footer">
        <div class="row">
            <div class="col-md-12">
                <p>We strive for accuracy and fairness. If you see something that doesn't look right, <a href="mailto:womensactivism@records.nyc.gov" id="view-story-contact-link" >contact us</a>!</p>
            </div>
        </div>
    </div>
{% endblock %}