{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" id="view-story-container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ story.activist_first }} {{ story.activist_last }}</h1>

                {% if story.activist_start %}
                    <p id="story-subheading">{{ story.activist_start }} - {% if story.activist_end %}{{ story.activist_end if story.activist_end != 9999 else 'Today'}}{% endif %}</p>
                {% else %}
                    <p id="story-subheading">{% if story.activist_end %}{{ story.activist_end if story.activist_end != 9999 else 'Today'}}{% endif %}</p>
                {% endif %}

                {% if user.first_name and user.last_name %}
                <p id="story-subheading">By {{ user.first_name }} {{ user.last_name }}{% endif %} | {{ moment(story.date_created).format('MMMM D, YYYY') }}</p>
                {% if image_url %}
                    {%  include 'stories/view-story-image.html' %}
                {% elif image_url %}
                    {%  include 'stories/view-story-image-short.html' %}
                {% elif video_url %}
                    {%  include 'stories/view-story-video.html' %}
                {% else %}
                    {%  include 'stories/view-story-none.html' %}
                {% endif %}

            </div>
        </div>
    </div>
    <div class="container-fluid" id="view-story-footer">
        <div class="row">
            <div class="col-md-12">
                <p>We strive for accuracy and fairness. If you see something that doesn't look right, <a href="mailto:womensactivism@records.nyc.gov" id="view-story-contact-link" >contact us</a>!</p>
            </div>
        </div>
    </div>
{% endblock %}