<div id="story-content-container">
    <iframe class="youtube-player" type="text/html" src="{{ story.video_url }}" frameborder="0" allowFullScreen></iframe>
    <p style="text-align: center">{{ story.content }}</p>
    {% if story.activist_url %}
    <p id="learn-more">To learn more visit:<br /><a href="#" id="learn-more-link">{{ story.activist_url }}</a></p>
    {% endif %}
    <div id="view-story-social">
        <a href="https://twitter.com/share?url=#####################&text=I%20just%20posted%20a%20story%20about%20a%20woman%20activist%20who%20inspires%20me,%20you%20should%20too!&hashtags=20000By2020">
            <img src="../static/img/twitter_icon.png" />
        </a>
        <a href="http://www.facebook.com/sharer.php?u=#################">
            <img src="../static/img/facebook_icon.png" />
        </a>
    </div>
</div>