{% extends "base.html" %}

{% block content %}
    <form data-parsley-validate id="subscribe-form" data-parsley-focus="none" method="post">
        {{ form.csrf_token }}
        
        <div class="container-fluid" id="about-you">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="about-you-heading">Subscribe</h1>
                    <p class="about-you-subheading">Receive news about special events, exhibitions, educational programs and more.</p>
                    <div class="who-input-group">
                        {{ form.user_first (id="user-first-name-field", class="subscribe-who-input", placeholder="Mary", maxlength=128) }}
                        {{ form.user_last (id="user-last-name-field", class="subscribe-who-input", placeholder="Smith", maxlength=128) }}
                    </div>
                    <div class="who-input-group">
                        {{ form.user_email (id="user-email-field", class="subscribe-you-email-input", placeholder="msmith@gmail.com", maxlength=25, type="email") }}
                    </div>
                    <div class ="who-input-group">
                        {{form.user_phone (id= "user-phone-field", class="subscribe-you-phone-input", placeholder="(555) 555-5555", maxlenght=25)}}

                    </div>
                    <br>

                    </br>
                    <div>
                        <h5 id= "about-you-subheading">Standard data and messaging rates may apply.</h5>
                    </div>

                    <div class="who-input-group">
                        {{ form.submit (id="subscribe-btn") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.mask.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/subscribe/subscribe.js') }}"></script>

{% endblock %}
