FLASK_APP=manage.py

# Flask-WTForms
SECRET_KEY=

# ElasticSearch
ELASTICSEARCH_ENABLED=
ELASTICSEARCH_HOST=
ELASTICSEARCH_PORT=
ELASTICSEARCH_INDEX=
ELASTICSEARCH_USE_SSL
ELASTICSEARCH_USERNAME
ELASTICSEARCH_PASSWORD

# ReCaptcha
RECAPTCHA_ENABLED=
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
RECAPTCHA_THRESHOLD=

# WomensActivism Data
FEATURED_DATA=

# Database Configuration
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


# File upload config
UPLOAD_DIRECTORY=

# Image host
IMAGE_HOST_URL=

# Azure
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_CONTAINER_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
