[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
click = "*"
dominate = "*"
elasticsearch = "*"
itsdangerous = "*"
pytz = "*"
python-dotenv = "*"
python-editor = "*"
requests = "*"
urllib3 = "*"
visitor = "*"
psycopg2 = "*"
flask = "*"
mako = "*"
jinja2 = "*"
markupsafe = "*"
sqlalchemy = "*"
wtforms = "*"
psycopg2-binary = "*"
flask-admin = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-migrate = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
werkzeug = "*"
flask-mail = "*"
flask-elasticsearch = "*"
azure-storage-blob = "*"

[requires]
python_version = "3.12"
