alembic==0.8.6
antiorm==1.2.1
BareNecessities==0.2.8
blinker==1.4
click==6.6
config==0.3.9
db==0.1.1
docopt==0.6.2
dominate==2.2.1
Flask==0.11.1
Flask-Bootstrap==3.3.6.0
Flask-Login==0.3.1
Flask-Mail==0.9.1
Flask-Migrate==1.8.1
Flask-Moment==0.5.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
Flask-Recaptcha==0.4.2
ForgeryPy==0.1
get==0.0.11
gunicorn==19.6.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.8
Mail==2.1.0
Mako==1.0.4
Markdown==2.6.6
MarkupSafe==0.23
ordereddict==1.1
post==0.0.8
psycopg2==2.6.2
public==0.0.34
python-env==1.0.0
python-editor==1.0.1
query-string==0.0.8
records==0.4.3
requests==2.10.0
six==1.10.0
SQLAlchemy==1.0.14
tablib==0.11.2
virtualenv==15.0.2
visitor==0.1.3
Werkzeug==0.11.10
WTForms==2.1
