<p>Hello {{ first_name }} {{ last_name }},</p>
<p>You are receiving this email because someone used your email address to subscribe
    to notifications from the WomensAcitivism.NYC project.</p>
<p>If this was you, you do not need to perform any other actions.
    You should be hearing from us shortly.</p>
<p>If you did not perform this action, please click on this link
    <a href="{{ unsubscribe_link }}"> Unsubscribe Link </a>to unsubscribe from further communication.</p>
<p>Thank you,</p>
<p>WomensActivism.NYC Outreach Team</p>