{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" id="catalog-head">
        <h1>I'm Looking for Women Known For</h1>
        <p>You may choose more than one category to narrow your search.</p>

        <input type="text" id="catalog-search" placeholder="Find by name or content" /><br />
        <button type="button" id="catalog-search-btn">Search</button>

        <div id="catalog-tags">
            <div>
                <input type="text" placeholder="" id="hidden-catalog-tag-input" data-parsley-required style="color: black;" />
            </div>
            <div class="catalog-tags-group" data-toggle="buttons">
                <button type="button" class="catalog-tag catalog-tag-inactive">Abolitionists</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Arts, Entertainment, Literature</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Business and Entrepreneurship</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Civil and Human Rights</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Education</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Government and Politics</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Health</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">LGBTQ</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Law</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Military</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Religion</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Science, Technology, Engineering, Math (STEM)</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Suffrage</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Sports</button>
                <button type="button" class="catalog-tag catalog-tag-inactive">Other</button>
            </div>
        </div>
    </div>
{%  endblock %}