{% extends "base.html" %}

{% block content %}
<div class="container-fluid" id="view-story-container">
    <div class="row">
        <div class="col-md-12">
            <h1>Charlotte Woodward</h1>
            <span>By Judith Wellman | May 10th, 2016</span>

            <div id="story-content-container">
                <img src="https://pbs.twimg.com/profile_images/544983591411675136/y08z2g56.jpeg" />
                <p>asdfasdfasf</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}