{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="page-header col-md-6 col-md-offset-3">
    <h1 id="feature-header">Add to Featured Stories</h1>
</div>
<div class="col-md-6 col-md-offset-3">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}