{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="page-header col-md-4 col-md-offset-4">
    <h1 id="feature-header">Featured Stories</h1>
</div>


<div class="col-md-10 col-md-offset-1">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Story ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Left/ Right</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
        <!-- Remember that story_list contains a list of tuples -->
        {% for featured_story in featured_stories %}
            <tr>
              <th scope="row">
                <a class="icon" href="{{ url_for('feature.modify', story_id=featured_story.story_id) }}" title="Edit Record">
                    <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
                </a>
              </th>
              <td>{{ featured_story.story_id }}</td>
              <td>{{ featured_story.story.activist_first }}</td>
              <td>{{ featured_story.story.activist_last }}</td>
              <td>
                  {% if featured_story.left_right == 'left' %}
                    Left
                  {% else %}
                    Right
                  {% endif %}
              </td>
              <td>{{ featured_story.title }}</td>
              <td>{{ featured_story.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {%  if hidden_stories %}
        <div class="page-header">
            <h4>Hidden Stories</h4>
        </div>

        <table class="table table-hover">
            <tbody>
            <!-- Remember that story_list contains a list of tuples -->
            {% for hidden_story in hidden_stories %}
                <tr>
                  <th scope="row">
                    <a class="icon" href="{{ url_for('feature.modify', story_id=hidden_story.story_id) }}" title="Edit Record">
                        <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
                    </a>
                  </th>
                  <td>{{ hidden_story.story_id }}</td>
                  <td>{{ hidden_story.story.activist_first }}</td>
                  <td>{{ hidden_story.story.activist_last }}</td>
                  <td>
                      {% if hidden_story.left_right == True %}
                        Left
                      {% else %}
                        Right
                      {% endif %}
                  </td>
                  <td>{{ hidden_story.title }}</td>
                  <td>{{ hidden_story.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<div class="col-md-4 col-md-offset-4" id="tag-btns">
    <a class="btn btn-default btn-lg" id="home-view-all-btn" href="{{ url_for('tag.edit_tags') }}" role="button">Edit
        Tags</a>
</div>
{% endblock %}
