{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="page-header col-md-4 col-md-offset-4">
    <h1 id="feature-header">Featured Stories</h1>
</div>


<div class="col-md-10 col-md-offset-1">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Story ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Left or Right</th>
            <th scope="col">Visibility</th>
            <th scope="col">Quote</th>
            </tr>
        </thead>
        <tbody>
        <!-- Remember that story_list contains a list of tuples -->
        {% for featured_story in featured_stories %}
            <tr>
              <th scope="row">
                <a class="icon" href="{{ url_for('feature.modify', story_id=featured_story.story_id) }}" title="Edit Record">
                    <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
                </a>
              </th>
              <td>{{ featured_story.story_id }}</td>
              <td>{{ featured_story.story.activist_first }}</td>
              <td>{{ featured_story.story.activist_last }}</td>
              <td>
                  {% if featured_story.left_right == True %}
                    Left
                  {% else %}
                    Right
                  {% endif %}
              </td>
              <td>{{ featured_story.is_visible }}</td>
              <td>{{ featured_story.quote }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}