{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="page-header col-md-4 col-md-offset-4">
        <h3 id="feature-header">Current Rankings of the Featured Stories</h3>
    </div>

    <div class="container-fluid" id="view-story-container">
         <div class="col-md-offset-1 col-md-10 col-md-offset-1">
            <table id="rankTable" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Move</th>
                        <th scope="col">Story ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Quote</th>
                    </tr>
                </thead>
                <tbody>
                {#         Remember that story_list contains a list of tuples       #}
                {% for story in story_list %}
                    <tr onclick="rowName(this)">
                        <td>{{ story[1].rank }}</td>
                        <th scope="row">
                            <input type="button" value="up" class="move up" />
                            <input type="button" value="down" class="move down" />
                        </th>
                        <td value={{ story[0].id }}>{{ story[0].id }}</td>
                        <td>{{ story[0].activist_first }}</td>
                        <td>{{ story[0].activist_last }}</td>
                        <td>{{ story[1].quote }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="view-edit-delete-div">
        <form method="post">
            {{ form.csrf_token }}
            <input class="btn btn-default btn-lg" id="view-edit-delete-btn" value="Rerank this Featured Story" name="submit" type="submit">
        </form>
    </div>

{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/feature/rank.js') }}"></script>
{% endblock %}
