{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" id="about-container">
        <div class="row">
            <div class="col-md-12" id="about-our-story">
                <h1>Our Story</h1>
                <p id="about-20by20">#20000By2020</p>

                <p id="about-info">The goal of WomensActivism.NYC is to create a permanent New York City archive listing
                    women from around the globe who have made a difference through their activism and, in turn, inspire
                    activism today. The women described in the archive may be famous or unknown. They may have lived in
                    the past or may still be working today. The only requirements are: they must be woman-identified and
                    they must have contributed to making change in some way.</p>

                <p id="about-info">This initiative is a five-year celebration of women’s activism connected to the
                    Women’s Suffrage Centennial. The NYC Department of Records and Information Services created
                    WomensActivism.NYC to honor the anniversary of women winning the right to vote in New York State in
                    1917 and in the United States in 1920.
                    We’re collecting 20,000 stories by the 100th anniversary in 2020. Share a story.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="empowerment-partners">
        <div class="row">
            <div class="col-md-12">
                <h1>Empowerment Partners</h1>
                <p id="empowerment-info">Organizations that have partnered with WomensActvism.NYC to tell the stories of
                    activists and inspire activism.</p>
            </div>
        </div>
        <div class="row" id="empowerment-featured">
            <div class="col-md-4">
                <div class="empowerment-feature">
                    <div class="empowerment-img-mask"
                         style="background-image: url('http://www.monumentalwomen.org/images/logo.png');"></div>
                    <div class="empowerment-name">
                        <h4>Elizabeth Cady Stanton and Susan B. Anthony Statue Fund</h4>
                    </div>
                    <p>A nonprofit, all-volunteer organization dedicated to placing the first statue honoring women’s
                        history in New York City’s Central Park.</p>
                    <a class="btn btn-default btn-lg get-involved-btn" href="http://www.monumentalwomen.org/index.php"
                       target="_blank" role="button">Get Involved</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="empowerment-feature">
                    <div class="empowerment-img-mask"
                         style="background-image: url('http://www.nyhumanities.org/images/nych-logo.png');"></div>
                    <div class="empowerment-name">
                        <h4>New York Council for the Humanities</h4>
                    </div>
                    <p>Provides leadership and support across the state’s intellectual and cultural sectors through
                        grants, programs, networking, and advocacy in order to encourage critical thinking and cultural
                        understanding in the public arena.</p>
                    <a class="btn btn-default btn-lg get-involved-btn" href="http://www.nyhumanities.org/"
                       target="_blank" role="button">Get Involved</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="empowerment-feature">
                    <div class="empowerment-img-mask"
                         style="background-image: url('http://www.womensactivism.nyc/static/img/sage.png');"></div>
                    <div class="empowerment-name">
                        <h4>Services & Advocacy for GLBT Elders (Sage)</h4>
                    </div>
                    <p>The country's largest and oldest organization dedicated to improving the lives of lesbian, gay,
                        bisexual and transgender older adults.</p>
                    <a class="btn btn-default btn-lg get-involved-btn" href="http://www.sageusa.org/" target="_blank"
                       role="button">Get Involved</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="empowerment-list">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li><a href="http://aliceausten.org/" target="_blank">Alice Austen House</a></li>
                    <li><a href="http://www.abzuginstitute.org/" target="_blank">Bella Abzug Leadership Institute</a>
                    </li>
                    <li><a href="http://berksconference.org/" target="_blank">Berkshire Conference of Women
                        Historians</a></li>
                    <li><a href="http://www.brooklynhistory.org/" target="_blank">Brooklyn Historical Society</a></li>
                    <li><a href="http://www2.cuny.edu/" target="_blank">City University of New York</a></li>
                    <li><a href="http://www.monumentalwomen.org/index.php" target="_blank">Elizabeth Cady Stanton and
                        Susan B. Anthony Statue Fund, Inc.</a></li>
                    <li><a href="http://www.ecstantonhometown.org/" target="_blank">Elizabeth Cady Stanton Hometown
                        Association</a></li>
                    <li><a href="https://www.ellevatenetwork.com/" target="_blank">Ellevate</a></li>
                    <li><a href="http://www.feministstories.com/" target="_blank">Feminist: Stories from Women's
                        Liberation</a></li>
                    <li><a href="http://www.womensrightsfriends.org/" target="_blank">Friends of the National Park for
                        Women's Rights</a></li>
                    <li><a href="http://www.girlvow.org/" target="_blank">Girl Vow, Inc</a></li>
                    <li><a href="http://www.gothamcenter.org/" target="_blank">Gotham Center for New York City
                        History</a></li>
                    <li><a href="https://www.kappakappagamma.org/kappa/" target="_blank">Kappa Kappa Gamma</a></li>
                    <li><a href="http://www.lwvnyc.org/" target="_blank">League of Women Voters of the City of New
                        York</a></li>
                    <li><a href="http://www.lwvny.org/" target="_blank">League of Women Voters of NY State</a></li>
                    <li><a href="http://manhattanbp.nyc.gov/html/home/home.shtml" target="_blank">Manhattan Borough
                        President's Office</a></li>
                    <li><a href="http://www.ncwhs.org/" target="_blank">National Collaborative for Women's History
                        Sites</a></li>
                    <li><a href="http://www.nwpc.org/" target="_blank">National Women's Political Caucus</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><a href="http://www1.nyc.gov/site/genderequity/index.page" target="_blank">New York City
                        Commission on Gender Equity</a></li>
                    <li><a href="http://www.nyc.gov/html/records/html/home/home.shtml" target="_blank">New York City
                        Department of Records and Information Services</a></li>
                    <li><a href="http://www.nyhumanities.org/" target="_blank">New York Council for Humanties</a></li>
                    <li><a href="http://newyorkculturalheritagetourismnetwork.com/" target="_blank">New York Cultural
                        Tourism Network</a></li>
                    <li><a href="http://www.nyhistory.org/womens-history" target="_blank">New York Historical Society,
                        Center for the Study of Women's History</a></li>
                    <li><a href="http://www1.nyc.gov/site/genderequity/index.page" target="_blank">NYC Commission on
                        Gender Equality</a></li>
                    <li><a href="http://www.nyccfb.info/nyc-votes" target="_blank">NYC Votes, A Program of the NYC
                        Campaign Finance Board</a></li>
                    <li><a href="http://www.queensmuseum.org/" target="_blank">Queens Museum</a></li>
                    <li><a href="http://www.sageusa.org/" target="_blank">SAGE - Services and Advocay for Gay, Lesbian,
                        Bisexual, and Transgender Elders</a></li>
                    <li><a href="http://www.suffragecentennials.com/" target="_blank">SuffrageCentennials.com</a></li>
                    <li><a href="http://unitewomenny.org/" target="_blank">Unite Women New York</a></li>
                    <li><a href="http://www.womenartsmediacoalition.org/#index" target="_blank">Women in the Arts &
                        Media Coalition</a></li>
                    <li><a href="http://www.womenon20s.org/" target="_blank">Women on 20s</a></li>
                    <li><a href="http://www.womenyoushouldknow.net/" target="_blank">Women You Should Know</a></li>
                    <li><a href="http://www.wccny.org/" target="_blank">Women's City Club of New York</a></li>
                    <li><a href="http://womensenews.org/" target="_blank">Women's eNews</a></li>
                    <li><a href="http://www.woodlawnconservancy.org/" target="_blank">Woodlawn Conservancy</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="steering-committee">
        <div class="row">
            <div class="col-md-12">
                <div id="steering-heading">
                    <h1>Steering Committee</h1>
                    <p>Strong female leaders from the arts, nonprofits, business, government, and community
                        organizations that provide strategic input, advice on program development, and insight on
                        activists.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="committee-member">
                    <div class="committee-img-mask"
                         style="background-image: url('{{ url_for('static', filename = 'img/steering_committee_photos/gael_brewer.png') }}');"></div>
                    <div class="committee-member-info">
                        <h5>Gale Brewer</h5>
                        <p>Manhattan Borough President</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="committee-member">
                    <div class="committee-img-mask"
                         style="background-image: url('{{ url_for('static', filename = 'img/steering_committee_photos/pam_elam.png') }}');"></div>
                    <div class="committee-member-info">
                        <h5>Pam Elam</h5>
                        <p>President, Elizabeth Cady Stanton and Susan B. Anthony Statue Fund</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="committee-member">
                    <div class="committee-img-mask"
                         style="background-image: url('{{ url_for('static', filename = 'img/steering_committee_photos/julie_golia.png') }}');"></div>
                    <div class="committee-member-info">
                        <h5>Julie Golia</h5>
                        <p>Director of Public History, Brooklyn Historical Society</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="committee-member">
                    <div class="committee-img-mask"
                         style="background-image: url('{{ url_for('static', filename = 'img/steering_committee_photos/kayhan_irani.png') }}');"></div>
                    <div class="committee-member-info">
                        <h5>Kayhan Irani</h5>
                        <p>Emmy award winning writer and Theater of the Oppressed trainer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="committee-member">
                    <div class="committee-img-mask"
                         style="background-image: url('{{ url_for('static', filename = 'img/steering_committee_photos/coline_jenkins.png') }}');"></div>
                    <div class="committee-member-info">
                        <h5>Coline Jenkins</h5>
                        <p>Great-great Granddaughter of Elizabeth Cady Stanton</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="committee-member">
                    <div class="committee-img-mask"
                         style="background-image: url('{{ url_for('static', filename = 'img/steering_committee_photos/janice_monger.png') }}');"></div>
                    <div class="committee-member-info">
                        <h5>Janice Monger</h5>
                        <p>Executive Director, Alice Austen House</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="committee-member">
                    <div class="committee-img-mask"
                         style="background-image: url('{{ url_for('static', filename = 'img/steering_committee_photos/valerie_paley.png') }}');"></div>
                    <div class="committee-member-info">
                        <h5>Valerie Paley</h5>
                        <p>Chief Historian and Vice President for Scholarly Programs, New York Historical Society and
                            Center for the Study of Women's History</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="committee-member">
                    <div class="committee-img-mask"
                         style="background-image: url('{{ url_for('static', filename = 'img/steering_committee_photos/pauline_toole.png') }}');"></div>
                    <div class="committee-member-info">
                        <h5>Pauline Toole</h5>
                        <p>Commissioner, City of New York, Department of Records and Information Services </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="committee-member">
                    <div class="committee-img-mask"
                         style="background-image: url('{{ url_for('static', filename = 'img/steering_committee_photos/susan_yohn.png') }}');"></div>
                    <div class="committee-member-info">
                        <h5>Susan Yohn</h5>
                        <p>Chair of the History Department, Hofstra University and President, Berkshire Conference on
                            the History of Women</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}