{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" id="about-container">
        <div class="row">
            <div class="col-md-12" id="about-our-story">
                <h1>Our Story</h1>
                <p id="about-20by20">#20000By2020</p>
                <p id="about-info">WomensActivism.NYC is a five-year celebration of women’s activism and the Women’s Suffrage Centennial. The NYC Department of Records and Information Services created WomensActivism.NYC to honor the anniversary of women winning the right to vote in New York State in 2017 and in the United States in 2020.  Our goal is to create a permanent New York City archive of women who have made a difference through their activism and in turn inspire activism today. The women in the archive may be famous or unknown. They may have lived in the past or may still be working today. The only requirements are: they must be women and they must be activists.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="empowerment-partners">
        <div class="row">
            <div class="col-md-12">
                <h1>Empowerment Partners</h1>
                <p id="empowerment-info">Strong female leaders from the arts, nonprofits, business, government, and community organizations that provide strategic input, advice on program development, and insight on activists.</p>
            </div>
        </div>
        <div class="row" id="empowerment-featured">
            <div class="col-md-4">
                <div class="empowerment-feature">
                    <div class="empowerment-img-mask" style="background-image: url('http://www.monumentalwomen.org/images/logo.png');"></div>
                    <div class="empowerment-name">
                        <h4>Elizabeth Cady Stanton and Susan B. Anthony Statue Fund</h4>
                    </div>
                    <p>A nonprofit, all-volunteer organization dedicated to placing the first statue honoring women’s history in New York City’s Central Park.</p>
                    <a class="btn btn-default btn-lg get-involved-btn" href="#" role="button">Get Involved</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="empowerment-feature">
                    <div class="empowerment-img-mask" style="background-image: url('http://www.nyhumanities.org/images/nych-logo.png');"></div>
                    <div class="empowerment-name">
                        <h4>New York Council for the Humanities</h4>
                    </div>
                    <p>Provides leadership and support across the state’s intellectual and cultural sectors through grants, programs, networking, and advocacy in order to encourage critical thinking and cultural understanding in the public arena.</p>
                    <a class="btn btn-default btn-lg get-involved-btn" href="#" role="button">Get Involved</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="empowerment-feature">
                    <div class="empowerment-img-mask" style="background-image: url('http://www.womensactivism.nyc/static/img/sage.png');"></div>
                    <div class="empowerment-name">
                        <h4>Services & Advocacy for GLBT Elders (Sage)</h4>
                    </div>
                    <p>The country's largest and oldest organization dedicated to improving the lives of lesbian, gay, bisexual and transgender older adults.</p>
                    <a class="btn btn-default btn-lg get-involved-btn" href="#" role="button">Get Involved</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="empowerment-list">
        <div class="row">
            <div class="col-md-6">
                <h4>Education</h4>
                <ul>
                    <li>Bella Abzug Leadership Institute</li>
                    <li>Berkshire Conference on Women</li>
                    <li>Elizabeth Cady Stanton Hometown Association</li>
                    <li>Feminist: Stories from Women's Liberation</li>
                    <li>Friends of the National Park for Women's Rights</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>History</h4>
                <ul>
                    <li>National Collaborative for Women's History Sites</li>
                    <li>New York Council for Humanities</li>
                    <li>New York Cultural Tourism Network</li>
                    <li>NY Historical Society, Center for the Study of Women's History</li>
                    <li>Queens Museum</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>The Arts</h4>
                <ul>
                    <li>Gotham Center</li>
                    <li>Kappa Kappa Gamma</li>
                    <li>League of Women Voters of NY City</li>
                    <li>League of Women Voters of NY State</li>
                    <li>Manhattan Borough President's Office</li>
                    <li>Museum of the City of NY</li>
                    <li>NYC Department of Records and Information Services</li>
                    <li>NYC Votes a Program of the NYC Campaign Finance Board</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Public Health</h4>
                <ul>
                    <li>SAGE - Services and Advocacy for Gay, Lesbian, Bisexual and Transgender Elders</li>
                    <li>SuffrageCentennials.com</li>
                    <li>Unite Women New York</li>
                    <li>Women on 20s</li>
                    <li>Women You Should Know</li>
                    <li>Women's City Club of New York</li>
                    <li>Woodlawn Cemetery</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="steering-committee">
        <div class="row">
            <div class="col-md-6">
                <div class="committee-member">
                    <div class="committee-img-mask" style="background-image: url('http://www.womensactivism.nyc/static/img/sage.png');"></div>
                    <div class="committee-member-info">
                        <h5>Gale Brewer</h5>
                        <p>Manhattan Borough President</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}