{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" id="about-container">
        <div class="row">
            <div class="col-md-12" id="about-our-story">
                <h1>Our Story</h1>
                <p id="about-20by20">#20000by2020</p>

                <p id="about-info">The goal of WomensActivism.NYC is to create a permanent New York City archive listing
                    women from around the globe who have made a difference through their activism and, in turn, inspire
                    activism today. The women described in the archive may be famous or unknown. They may have lived in
                    the past or may still be working today. The only requirements are: they must be woman-identified and
                    they must have contributed to making change in some way.</p>

                <p id="about-info">This initiative is a five-year celebration of women’s activism connected to the
                    Women’s Suffrage Centennial. The NYC Department of Records and Information Services created
                    WomensActivism.NYC to honor the anniversary of women winning the right to vote in New York State in
                    1917 and in the United States in 1920.
                    We’re collecting 20,000 stories by the 100th anniversary in 2020. Share a story.</p>
            </div>
        </div>
    </div>

{% endblock %}
