{% extends "base.html" %}

{% block content %}
<div class="jumbotron" id="hero">
    <div id="hero-content">
        <h1>Celebrate Women's Equality Day</h1>
        <p>Help build the first permanent catalog of women activists in NYC by sharing a story that inspires you.</p>
        <p id="hero-collect">Collecting #20000by2020</p>
        <a class="btn btn-default btn-lg" href="{{ url_for('stories.share') }}" role="button">Share Your Story</a>
    </div>
</div>
<div class="home-wrapper">
    <div class="container" id="home-stories">
        <h1><span id="collected-count" class="home-count">800</span> Stories Collected, <span id="more-count"
                                                                                              class="home-count">19,200</span>
            More By 2020</h1>
        <h2>#20000by2020</h2>
        <div class="home-story col-lg-3 col-md-4">
            <div class="home-story-content">
                <h4>Aja Monet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="img-mask" style="background-image: url('./static/img/test_pic.jpg');">
                </div>
            </div>
        </div>
        <div class="home-story col-lg-3 col-md-4">
            <div class="home-story-content">
                <h4>Aja Monet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="img-mask"
                     style="background-image: url('http://static.makers.com/maker/Courtney_Martin_Thumbnail_RightSize.jpg');">
                </div>
            </div>
        </div>
        <div class="home-story col-lg-3 col-md-4">
            <div class="home-story-content">
                <h4>Aja Monet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="img-mask"
                     style="background-image: url('https://freedomforvietnam.files.wordpress.com/2010/07/vivi-02trieutrinhnuongok.jpg');">
                </div>
            </div>
        </div>
        <div class="home-story col-lg-3 col-md-4">
            <div class="home-story-content">
                <h4>Aja Monet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="img-mask"
                     style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/173/31b/3280302.jpg');">
                </div>
            </div>
        </div>
        <div class="home-story col-lg-3 col-md-4">
            <div class="home-story-content">
                <h4>Aja Monet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="img-mask"
                     style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/173/31b/3280302.jpg');">
                </div>
            </div>
        </div>
        <div class="home-story col-lg-3 col-md-4">
            <div class="home-story-content">
                <h4>Aja Monet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="img-mask"
                     style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/173/31b/3280302.jpg');">
                </div>
            </div>
        </div>
        <div class="home-story col-lg-3 col-md-4">
            <div class="home-story-content">
                <h4>Aja Monet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="img-mask"
                     style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/173/31b/3280302.jpg');">
                </div>
            </div>
        </div>
        <div class="home-story col-lg-3 col-md-4">
            <div class="home-story-content">
                <h4>Aja Monet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="img-mask"
                     style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/173/31b/3280302.jpg');">
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-default btn-lg" id="home-view-all-btn" href="#" role="button">View All Stories</a>
</div>
<div class="jumbotron" id="give-jumbotron">
    <div id="give-content">
        <h1>Help us elevate and fuel New York City’s female activists and inspire activism</h1>
        <a class="btn btn-default btn-lg" id="home-give-btn"
           href="https://web.ovationtix.com/trs/store/34600/alldonations/23831" role="button">Give</a>
    </div>
</div>

<!--TODO: Featured Story-->
<!--<div class="container" id="bws-jumbotron">-->
<!--<div class="row" id="bws-content">-->
<!--<div id="bws-image" class="col-md-5">-->
<!--<div id="bws-image-mask" style="background-image: url('./static/img/bws.jpg')">-->
<!--</div>-->
<!--</div>-->
<!--<div id="bws-text" class="col-md-7">-->
<!--<h2 id="bws-h1">Charlotte Ray</h2>-->
<!--<p id="bws-quote">"Proin tristique vitae est quis lacinia duis cursus ligula nec."</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--TODO: Then and Now -->
<!--<div class="jumbotron" id="then-now-jumbotron">-->
<!--<div id="then-now-content">-->
<!--<h1>Then &amp; Now: Civil Rights</h1>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-6" id="left-col-6">-->
<!--<div class="row then-now-sub-row">-->
<!--<div class="col-md-4">-->
<!--<div class="then-now-img" style="background-image: url('./static/img/then.jpg')"></div>-->
<!--</div>-->
<!--<div class="col-md-8 then-now-text">-->
<!--<h4 class="then-now-name">Ida B. Wells</h4>-->
<!--<span class="then-now-year">1892</span>-->
<!--<p class="then-now-bio">Wells worked as a civil-rights activist and journalist. She campaigned for anti-lynching legislation and published her sentiments in "The New York Age" paper in NYC in 1892.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="row then-now-sub-row">-->
<!--<div class="col-md-4">-->
<!--<div class="then-now-img" style="background-image: url('./static/img/now.jpg')"></div>-->
<!--</div>-->
<!--<div class="col-md-8 then-now-text">-->
<!--<h4 class="then-now-name">Merle Hoffman</h4>-->
<!--<span class="then-now-year">1976</span>-->
<!--<p class="then-now-bio">Merle Hoffman has been involved in defining and defending women’s human reproductive rights. She is the Co-founder of the National Abortion Federation.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<a class="btn btn-default btn-lg" id="home-then-now-btn" href="#" role="button">Take Action Now</a>-->
<!--</div>-->
<!--</div>-->

{% endblock %}