/* Home Defaults */
h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: lighter;
}

/* Header */

#header-top {
    text-align: center;
}

#logo {
    max-width: 183px;
    margin: 40px 0;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    background: #d29f13;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #e0b040 !important;
}
.icon-bar {
    background-color: #ffffff !important;
}

.navbar-collapse.collapse li {
    float: none;
    display: inline-block;
}

.navbar-collapse.collapse.in li {
    float: initial;
    display: initial;
    width: 100%;
}

.navbar-collapse.collapse.in {
    border: 0;
    margin-top: 3px;
}

.navbar-collapse.collapsing {
    border: 0;
    margin-top: 3px;
}

.navbar-collapse {
    padding: 0;
}

.navbar {
    min-height: 40px;
    height: 40px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    z-index: 9999;
}

.navbar-nav {
    margin: 0 !important;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #ffffff !important;
    font-weight: 600;
}

.navbar-default {
    background: #d29f13;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: #e0b040;
}

.navbar-toggle {
    margin-top: 3px;
    margin-bottom: 0;
}

.navbar-toggle:hover {
    background-color: #e0b040 !important;
}

/* Fonts */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

p, div {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Hero */

#hero {
    background: url('./img/womens_activism_hero_image.png');
    background-size: cover;
    background-color: rgb(89, 49, 95);
    min-height: 380px;
    text-align: center;
    color: #ffffff;
    height: 100%;
    width: 100%;
    display: table;
}

@media (min-width: 768px) {
    #hero {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

#hero-content {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 40px;
}

#hero h1 {
    font-weight: 300;
    font-size: 50px;
    padding: 0;
    margin: 0 15px 15px 15px;
}

#hero p {
    margin: 0 0 10px 0;
    padding: 0 15px;
}

#hero-collect {
    font-weight: normal;
}

#hero .btn {
    background: none;
    font-size: 20px;
    color: white;
    border-radius: 0;
    border-width: 2px;
    margin-top: 20px;
    border-color: white;
    padding: 12px 40px;
    transition: background 0.2s ease;
}

#hero .btn:hover {
    background: #ffffff;
    color: rgb(89, 49, 95);
}

/* Home Stories */

.home-wrapper {
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

.home-count {
    color: #d29f13;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
}

#home-stories h2 {
    color: #c0c0c0;
    font-weight: lighter;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 80px;
}

#home-stories a {
    color: inherit;
}

#home-stories a:hover {
    text-decoration: none;
}

.home-story {
    margin: 15px 0;
}

.home-story-content {
    margin: 0 3px;
    border: 1px solid #d9d9d9;
    height: 381px;
    word-wrap: break-word;
}

.home-story-content h4 {
    padding: 25px 3px 10px 0;
    word-wrap: break-word;
}

.home-story-content p {
    padding: 0 15px;
    font-size: 13px;
}

.img-mask {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: 35px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hearts-div {
    margin: 0 0 35px 0;
}

.hearts-div .glyphicon-heart {
    font-size: 11px;
    color: #d29f13;
}

.hearts-div .hearts-num {
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    color: #d29f13;
}

#home-view-all-btn {
    background: none;
    font-size: 20px;
    color: #59315f;
    border-radius: 0;
    border-width: 2px;
    margin-top: 40px;
    border-color: #59315f;
    padding: 12px 40px;
    transition: background 0.2s ease;
}

#home-view-all-btn:hover {
    background: #59315f;
    color: #ffffff;
}
#flash-messages {
    background-color: #673c74;
    color: white;
}
#flash-messages .alert {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

/* Give Section */

#give-jumbotron {
    background-color: #f2f2f2;
    min-height: 380px;
    text-align: center;
    color: #34294f;
    height: 100%;
    width: 100%;
    display: table;
    margin: 0;
}

#give-content {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 40px;
}

#give-jumbotron h1 {
    padding: 0 20px;
    font-size: 50px;
}

@media (min-width: 768px) {
    #give-jumbotron {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 1170px) {
    #give-jumbotron h1 {
        padding: 0 200px;
    }
}

#home-give-btn {
    background: none;
    font-size: 30px;
    color: #59315f;
    border-radius: 0;
    border-width: 2px;
    margin-top: 50px;
    border-color: #59315f;
    max-width: 400px;
    width: 80%;
    padding: 15px 0;
    transition: background 0.2s ease;
}

#home-give-btn:hover {
    background: #59315f;
    color: #ffffff;
}

/* BW Suffrage Section */

#bws-jumbotron {
    background-color: #59315f;
    text-align: center;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

#bws-content {
    height: 100%;
    vertical-align: middle;
    margin: 80px 0;
    text-align: left;
}

#bws-image-mask {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
}

#bws-h1 {
    font-size: 35px;
    margin-top: 48px;
}

#bws-quote {
    font-size: 42px;
    font-weight: lighter;
    font-style: italic;
}

@media (max-width: 1024px) {
    #bws-h1, #bws-content {
        text-align: left;
    }

    #bws-h1 {
        margin-top: 16px;
    }
}

@media (max-width: 991px) {
    #bws-h1, #bws-content {
        text-align: center;
    }

    #bws-h1 {
        margin-top: 50px;
    }
}

@media (min-width: 1024px) {
    #bws-quote {
        max-width: 600px;
    }
}

#home-bws-btn {
    background: none;
    font-size: 30px;
    color: #59315f;
    border-radius: 0;
    border-width: 2px;
    margin-top: 50px;
    border-color: #59315f;
    max-width: 400px;
    width: 80%;
    padding: 15px 0;
}

/* Twitter Feed Section */

#twitter-section {
    text-align: center;
    background-color: #f0eee9;
    color: #0c0b41;
    padding-top: 60px;
    padding-bottom: 60px;
}
#twitter-section a {
    color: #59315f;
    font-weight: 600;
}
#tweetsRow {
    margin: 60px auto 0 auto;
    max-width: 1170px;
    font-size: 22px;
}
#tweetsRow .col-md-4 {
    padding: 0 30px;
    overflow-wrap: break-word;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#home-view-tweets-btn {
    background: none;
    font-size: 20px;
    color: #59315f;
    border-radius: 0;
    border-width: 2px;
    margin-top: 40px;
    border-color: #59315f;
    padding: 12px 40px;
    transition: background 0.2s ease;
}
#home-view-tweets-btn:hover {
    background: #59315f;
    color: #ffffff;
}
.timeago {
    color: #6c6c6c !important;
    font-weight: normal !important;
    font-size: 18px !important;
}
.timePosted {
    margin-top: 20px;
}

/* Then & Now Section */

#then-now-jumbotron {
    background-color: #202427;
    min-height: 380px;
    text-align: center;
    color: #ffffff;
    height: 100%;
    width: 100%;
    display: table;
    margin: 0;
}

#then-now-content {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 70px 0;
}

#then-now-content .container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.then-now-sub-row {
    width: 99%;
    margin: 0 auto;
}

#then-now-jumbotron h1 {
    padding: 0 20px;
    font-size: 50px;
}

@media (min-width: 768px) {
    #then-now-jumbotron {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 1170px) {
    #then-now-jumbotron h1 {
        padding: 0 200px;
    }
}

#home-then-now-btn {
    background: none;
    font-size: 30px;
    color: #ffffff;
    border-radius: 0;
    border-width: 2px;
    border-color: #ffffff;
    max-width: 400px;
    width: 80%;
    padding: 15px 0;
    transition: background 0.2s ease;
}

#home-then-now-btn:hover {
    background: #ffffff;
    color: #202427;
}

.then-now-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.then-now-text {
    text-align: left;
}

.then-now-name {
    margin-bottom: 3px;
}

.then-now-year {
    font-style: italic;
}

.then-now-bio {
    margin-top: 6px;
    line-height: 24px;
    font-size: 13px !important;
    font-weight: normal !important;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .then-now-img {
        width: 125px;
        height: 125px;
    }
}

@media (min-width: 992px) {
    #left-col-6 {
        border-right: 1px solid #ffffff;
    }
}

@media (max-width: 991px) {
    .then-now-img {
        margin-left: auto;
        margin-right: auto;
    }

    .then-now-text {
        text-align: center;
    }

    #left-col-6 {
        margin-bottom: 50px;
    }

    .then-now-text {
        padding-top: 10px;
    }
}

/* Project Info */

#project-info {
    background-color: #ffffff;
    min-height: 150px;
    text-align: center;
    color: #34294f;
    height: 100%;
    width: 100%;
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    #project-info {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

#project-info-content {
    height: 100%;
}

#project-info h1 {
    font-weight: 300;
    font-size: 26px;
    padding: 0 20px;
    margin: 0;
    line-height: 36px
}

.records-link {
    color: #59315f;
    text-decoration: underline;
    font-weight: normal;
    transition: color 0.2s ease;
}

.records-link:hover {
    color: #000000;
}

/* Social Links / Footer */

#social-footer {
    background: #f2f2f2;
    text-align: center;
    min-height: 140px;
}

.social-links img {
    padding: 0 10px;
    margin-top: 40px;
}

.copyright p {
    font-size: 13px;
    color: #34294f;
    margin-top: 20px;
}

.copyright-bureau-blank {
    font-weight: bold;
    color: rgb(52, 41, 79)
}
.copyright-bureau-blank:hover {
    color: rgb(52, 41, 79)
}

/* ------------ SHARE A STORY ------------ */

/* Name / Dates */

#share-who {
    background: #673c74;
    text-align: center;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
}

#share-who h1 {
    font-size: 50px;
}

.share-subheading {
    font-size: 22px;
    font-weight: lighter;
    max-width: 495px;
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.share-who-input {
    background: none;
    outline: none;
    border: 0px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    font-size: 36px;
    max-width: 292px;
    margin: 30px 20px 0 20px;
    padding-bottom: 10px;
}

.who-input-group {
    margin-top: 25px;
}

.share-who-input::-webkit-input-placeholder {
    color: #a373aa;
}

.share-who-input:-moz-placeholder {
    color: #a373aa;
}

.share-who-input::-moz-placeholder {
    color: #a373aa;
}

.share-who-input:-ms-input-placeholder {
    color: #a373aa;
}

.name-required {
    font-size: 22px;
    font-weight: 800;
    color: #98819b;
    font-style: italic;
    margin-top: 30px;
}

#she-lived-heading {
    margin-top: 80px;
}

#date-dash {
    font-size: 22px;
    font-weight: 800;
}

@media (max-width: 738px) {
    #date-dash {
        display: block;
        margin-top: 30px;
    }
}

/* About Her / Known For */

#about-her {
    background: #59315f;
    text-align: center;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
}

#hidden-tag-input {
    color: black;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    width: 0;
}

.share-tags-group {
    max-width: 768px;
    margin: 40px auto 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.share-tag {
    border: 2px solid #ffffff;
    height: 40px;
    border-radius: 20px;
    padding: 5px 35px;
    margin: 15px 10px;
    font-size: 14px;
    outline: none;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.share-inactive:hover {
    background: white;
    color: #59315f;
}

.share-tag.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.share-tag.active.focus, .share-tag.active:focus {

}

.share-inactive {
    background: none;
}

.share-active {
    background: white;
    color: #59315f;
}

#share-her-story-heading {
    margin-top: 80px;
}

.edit-story-text {
    font-size: 30px;
    vertical-align: top;
    margin-top: 60px;
    background: none;
    width: 90%;
    max-width: 768px;
    border: 0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    outline: 0;
    min-height: 340px;
    padding: 20px 10px;
}

.her-story-text {
    font-size: 30px;
    vertical-align: top;
    margin-top: 60px;
    background: none;
    width: 90%;
    max-width: 768px;
    border: 0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    outline: 0;
    min-height: 440px;
    padding: 20px 10px;
}

#add-link-heading {
    margin-top: 80px;
}

.her-story-text::-webkit-input-placeholder {
    color: #a373aa;
}

.her-story-text:-moz-placeholder {
    color: #a373aa;
}

.her-story-text::-moz-placeholder {
    color: #a373aa;
}

.her-story-text:-ms-input-placeholder {
    color: #a373aa;
}

.char-required {
    font-size: 22px;
    font-weight: 800;
    color: #98819b;
    font-style: italic;
    margin-top: 35px;
}

.share-link-input {
    background: none;
    outline: none;
    border: 0px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    font-size: 36px;
    max-width: 627px;
    width: 90%;
    margin: 20px 20px 0 20px;
    padding-bottom: 10px;
}

.share-link-input::-webkit-input-placeholder {
    color: #a373aa;
}

.share-link-input:-moz-placeholder {
    color: #a373aa;
}

.share-link-input::-moz-placeholder {
    color: #a373aa;
}

.share-link-input:-ms-input-placeholder {
    color: #a373aa;
}

.share-link-subheading {
    font-size: 22px;
    font-weight: lighter;
    max-width: 420px;
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

#add-media-heading {
    margin-top: 100px;
}

.add-media-subheading {
    font-size: 22px;
    font-weight: lighter;
    max-width: 480px;
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.media-buttons {
    width: 258px;
    height: 65px;
    background: none;
    outline: none;
    border: 2px solid #ffffff;
    font-size: 20px;
    margin-top: 30px;
    transition: background 0.2s ease;
    margin-right: 5px;
    margin-left: 5px;
}

.media-buttons:hover {
    background: #ffffff;
    color: #59315f;
}

#story-image-input, #story-video-input {
    display: none;
}

#media-back-btn {
    font-size: 16px;
}

#media-back-txt {
    font-size: 20px;
    margin-left: 5px;
    font-weight: 100;
}

#media-back-btn:hover, #media-back-txt:hover {
    cursor: pointer;
}

#media-back-div {
    display: none;
}

/* About You */

#about-you {
    background: #673c74;
    text-align: center;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
}

#share-her-story-heading {
    margin-top: 80px;
}

.about-you-subheading {
    font-size: 22px;
    font-weight: lighter;
    max-width: 550px;
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.share-you-email-input {
    background: none;
    outline: none;
    border: 0px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    font-size: 36px;
    width: 100%;
    max-width: 627px;
    margin: 20px 20px 0 20px;
    padding-bottom: 10px;
}

@media (max-width: 712px) {
    .share-you-email-input {
        max-width: 292px;
    }
}

.share-you-email-input::-webkit-input-placeholder {
    color: #a373aa;
}

.share-you-email-input:-moz-placeholder {
    color: #a373aa;
}

.share-you-email-input::-moz-placeholder {
    color: #a373aa;
}

.share-you-email-input:-ms-input-placeholder {
    color: #a373aa;
}

#share-story-btn {
    width: 258px;
    height: 65px;
    background: none;
    outline: none;
    border: 2px solid #ffffff;
    font-size: 20px;
    margin-top: 50px;
    transition: background 0.2s ease;
}

#share-story-btn:hover {
    background: #ffffff;
    color: #673c74;
}

.input-inline-fix {
    display: inline;
    position: relative;
}

/* Parsley */

.parsley-errors-list {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.parsley-errors-list li {
    color: #fff;
    background-color: #d9534f;
    border-color: #ebccd1;
    padding: .2em .6em .3em;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 75%;
    vertical-align: baseline;
}

/* Catalog Page */
#search-head {
    background: #59315f;
    color: #ffffff;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

#search-head h1 {
    font-weight: 300;
    font-size: 50px;
    padding: 0;
    margin: 0 15px 15px 15px;
}

#search-head p {
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: 100;
}

#hidden-search-tag-input {
    color: black;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    width: 0;
}

.search-tags-group {
    max-width: 768px;
    margin: 40px auto 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-tag {
    border: 2px solid #ffffff;
    height: 40px;
    border-radius: 20px;
    padding: 5px 35px;
    margin: 15px 10px;
    font-size: 14px;
    outline: none;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-tag-inactive:hover {
    background: white;
    color: #59315f;
}

.search-tag-active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-tag-active.focus, .search-tag-active:focus {

}

.search-tag-inactive {
    background: none;
}

.search-tag-active {
    background: white;
    color: #59315f;
}

#search {
    margin: 60px 0 0 0;
    padding: 0 15px;
    width: 90%;
    max-width: 600px;
    height: 50px;
    border-radius: 25px;
    outline: 0;
    border: 0;
    font-size: 22px;
    color: black;
    text-align: center;
}

#search-btn {
    margin: 30px 0 0 0;
    width: 90%;
    max-width: 600px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: white;
    background: #9857a3;
    font-size: 22px;
    border: 0;
    outline: 0;
    transition: background 0.2s ease;
    font-weight: 600;
}

#search-btn:hover {
    background: #673c74;
}

/* ------------ ABOUT ------------ */

#about-our-story {
    text-align: center;
}

#about-our-story h1 {
    margin-top: 80px;
    color: #0c0b41;
}

#about-20by20 {
    color: #c0c0c0;
    font-size: 36px;
    font-weight: 300;
    margin-top: 10px;
}

#about-info {
    font-size: 18px;
    line-height: 36px;
    max-width: 1000px;
    margin: 45px auto 80px auto;
    text-align: left;
    width: 90%;
    color: #0c0b41;
    font-weight: 300;
}

/* Empowerment Partners */

#empowerment-partners {
    background: #673c74;
    text-align: center;
    color: white;
}

#empowerment-partners h1 {
    color: white;
    margin: 60px 0 0 0;
}

#empowerment-info {
    font-weight: 300;
    font-size: 20px;
    width: 90%;
    max-width: 900px;
    margin: 30px auto 0 auto;
}

#empowerment-featured {
    margin: 40px 0 80px 0;
}

.empowerment-img-mask {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    margin: 35px auto 10px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#empowerment-featured h4 {
    width: 290px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 32px;
}

#empowerment-featured p {
    width: 290px;
    margin: 0px auto 30px auto;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    min-height: 210px;
}

.get-involved-btn {
    background: none;
    font-size: 20px;
    color: white;
    border-radius: 0;
    border-width: 2px;
    border-color: white;
    padding: 12px 40px;
    transition: background 0.2s ease;
}

.get-involved-btn:hover {
    background: #ffffff;
    color: rgb(89, 49, 95);
    border-color: #ffffff;
}

.get-involved-btn:active {
    background: #ffffff !important;
    color: rgb(89, 49, 95) !important;
    border-color: #ffffff !important;
}

.get-involved-btn:focus {
    background: #ffffff !important;
    color: rgb(89, 49, 95) !important;
    border-color: #ffffff !important;
}

.empowerment-name {
    min-height: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Empowerment List */

#empowerment-list {
    background: #59315f;
    color: white;
}

#empowerment-list .row {
    margin: 70px auto 80px auto;
    max-width: 1200px;
}

#empowerment-list .col-md-6 {
    min-height: 400px;
}

#empowerment-list h4 {
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
}

#empowerment-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

#empowerment-list li {
    margin: 30px 0;
}

#empowerment-list a {
    color: inherit;
}

/* Steering Committee */

#steering-committee {
    background: #f3f3f3;
    color: #0c0b41;
}

#steering-committee .row {
    max-width: 1200px;
    margin: 80px auto;
}

#steering-heading {
    text-align: center;
}

#steering-heading p {
    font-size: 18px;
    font-weight: 300;
    max-width: 850px;
    margin: 35px auto 20px auto;
}

.committee-member {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 350px;
    margin: 25px auto;
    min-height: 130px;
}

.committee-img-mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.committee-member-info {
    margin-left: 30px;
}

.committee-member-info h5 {
    font-size: 18px;
    font-weight: 600;
}

.committee-member-info p {
    font-size: 13px;
}

/* Contact Page */

#contact-container {
    text-align: center;
}
#contact-container h1 {
    margin-top: 80px;
}
#contact-container p {
    margin: 60px 0;
    font-size: 22px;
}
#contact-email-link {
    color: #59315f;
    text-decoration: underline;
    font-weight: normal;
    transition: color 0.2s ease;
}
#contact-email-link:hover {
    color: #000000;
}

/* View Individual Story Page */

#view-story-container {
    text-align: center;
}
#view-story-container h1 {
    margin-top: 80px;
    color: #23224f;
}
#view-story-container-short {
    text-align: center;
}
#view-story-container-short h1 {
    margin-top: 80px;
    color: #23224f;
}
#story-subheading {
    margin-top: 5px;
    font-size: 20px;
    color: #23224f;
}
#story-user-date-subheading {
    margin-top: 10px;
    font-size: 12px;
    color: #23224f;
}
#story-content-container {
    text-align: left;
    max-width: 1000px;
    width: 100%;
    margin: 60px auto 10px auto;
    padding: 60px;
    border: 1px solid #ddd;
}
#story-content-container-short {
    text-align: center;
    max-width: 1000px;
    width: 100%;
    margin: 60px auto 10px auto;
    padding: 60px;
    border: 1px solid #ddd;
}
#view-story-img {
    width: 50%;
    float: left;
    margin: 10px 25px 10px 0;
}
#view-story-img-short {
    width: 50%;
    margin: 0 auto 20px auto;
}
#video-wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    margin-bottom: 20px;
    height: 0;
}
#video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#view-story-center-wrap {
    width: 100%;
    text-align: center;
}
#story-content-container p {
    line-height: 30px;
    color: #23224f;
}
#view-story-text-short {
    line-height: 30px;
    color: #23224f;
}
@media only screen and (max-width: 550px) {
    #story-content-container {
        text-align: center;
        padding: 20px;
    }
    #story-content-container img {
        width: 100%;
        max-width: 290px;
        float: initial;
        margin: 10px 0 10px 0;
    }
    #view-story-img-short {
        width: 100%;
        max-width: 290px;
        float: initial;
        margin: 10px 0 10px 0;
    }
}
#view-story-footer {
    text-align: center;
    font-size: 22px;
    margin: 20px 0 0 0;
}
#view-story-contact-link {
    color: #59315f;
    text-decoration: underline;
    font-weight: normal;
    transition: color 0.2s ease;
}
#view-story-contact-link:hover {
    color: black;
}
#search-no-results {
    font-size: 22px;
}
#learn-more {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}
#learn-more-link {
    color: #59315f;
    text-decoration: underline;
    font-weight: normal;
    transition: color 0.2s ease;
}
#learn-more-link:hover {
    color: black;
}

#view-edit-delete-div {
    text-align: center;
    margin: 40px 0;
}

#view-edit-delete-btn {
    background: none;
    font-size: 20px;
    color: black;
    border-radius: 0;
    border-width: 2px;
    margin-top: 40px;
    border-color: #59315f;
    padding: 12px 80px;
    transition: background 0.2s ease;
}

#view-edit-delete-btn:hover {
    background: rgb(89, 49, 95);
    color: white;
}

#view-story-social-div {
    text-align: center;
    margin: 40px 0;
}
#view-story-social-div p {
    font-size: 20px;
    margin: 20px 0;
}
#view-story-social {
    width: 50px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
}
#no-results-text {
    text-align: center;
    font-size: 22px;
    margin: 0;
}
#view-story-feedback-jumbotron {
    background-color: #59315f;
    min-height: 380px;
    text-align: center;
    color: #ffffff;
    height: 100%;
    width: 100%;
    display: table;
    margin: 0;
}
#view-story-feedback-jumbotron h1 {
    padding: 0 20px;
    font-size: 50px;
}
@media (min-width:768px) {
    #view-story-feedback-jumbotron {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1170px) {
    #view-story-feedback-jumbotron h1 {
        padding: 0 200px;
    }
}
#view-story-feedback-btn {
    background: none;
    font-size: 20px;
    color: white;
    border-radius: 0;
    border-width: 2px;
    margin-top: 40px;
    border-color: white;
    padding: 12px 80px;
    transition: background 0.2s ease;
}

#view-story-feedback-btn:hover {
    background: #ffffff;
    color: rgb(89, 49, 95);
}

#view-story-feedback-content {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 40px;
}
#view-story-feedback-content p {
    margin-top: 20px;
}
#back-to-top-div {
    width: 60px;
    position: fixed;
    right: 0;
    bottom: 10%;
    height: 60px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 99999;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#back-to-top-div:hover {
    cursor: pointer;
}
#back-to-top-icon {
    font-size: 22px;
    color: #ccc;
}
#back-to-top {
    color: #ccc;
    font-size: 10px;
    font-weight: bold;
    padding: 0 3px;
}

#recaptcha {
    padding-top: 75px;
    display: inline-block;
}

#edit-reason {
    background: #59315f;
    text-align: center;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
}

#edit-reason-heading {
    margin-top: 0px;
}

.edit-reason-text {
    font-size: 30px;
    vertical-align: top;
    margin-top: 60px;
    background: none;
    width: 90%;
    max-width: 768px;
    border: 0;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    outline: 0;
    min-height: 340px;
    padding: 20px 10px;
}

#feature-header {
    text-align: center;
}

#subscription-heading {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}