{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Women's Activism NYC{% endblock %}

{% block page_content %}
    <div class="feedback_form">
        <div class="row">
            <p align="center">
                <span id="feedback_fields">We strive for accuracy and fairness.
                    If you see something that doesn't look right, contact us!<br>
                    Email Us tsweet@records.nyc.gov
                </span>
            </p>
        </div>
    </div>
{% endblock %}
