{% extends "base.html" %}

{% block title %}Women's Activism NYC{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <div class="contact_us">
            <h3>
                We strive for accuracy and fairness. If you see something that doesn't look right, contact us!<br><br>
                Email us at:
                <a href="mailto:tsweet@records.nyc.gov?Subject=[Women's Activisim NYC] Flag" target="_top">tsweet@records.nyc.gov!</a>
            </h3>
        </div>
    </div>
{% endblock %}
