{% extends "base.html" %}

{% block title %}Women's Activism NYC{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="activist_information">
                <div class="flag_header">Something wrong with this story?<br>
                    <h5>About: {{ story['activist_first'] }} {{ story['activist_last'] }}</h5>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#    <body>#}
{#    <div class="feedback_form">#}
{#        <div class="row">#}
{#            <h1>Flagging Story About: "{{ activist_first }} {{ activist_last }}"</h1>#}
{#        </div>#}
{#        <div class="row">#}
{#            <p>#}
{#                <span id="feedback_fields">{{ wtf.quick_form(form) }}</span>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#    </body>#}