@font-face {
    font-family: "Open Sans Regular";
    src: url("OpenSans.otf");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("OpenSans-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans Italic";
    src: url("OpenSans-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: "Open Sans Extrabold";
    src: url("OpenSans-Extrabold.otf");
    font-weight: 900;
}

@font-face {
    font-family: "Open Sans Light";
    src: url("OpenSans-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans BoldItalic";
    src: url("OpenSans-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans ExtraboldItalic";
    src: url("OpenSans-ExtraboldItalic.otf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans Italic";
    src: url("OpenSansLight-Italic.otf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans Semibold";
    src: url("OpenSans-Semibold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans SemiboldItalic";
    src: url("OpenSans-SemiboldItalic.otf");
    font-weight: 600;
    font-style: italic;
}

