{% extends "base.html" %}
{% block title %}Women's Activism NYC - Delete Post{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Really Delete this Post?</h1>

<div id="page-body">
    <form name="input" class="form-horizontal" id="submitPost" method="post">
        <div class="lead">Title
            <h2>{{ post.title }}</h2>
        </div>
        <div class="lead">Reason
            <div class="control-group">
                <input class="input_reason" name="input_reason" name="Reason" maxlength="140" required>
            </div>
        </div>
        <div class="lead">Content
            <h3>Content: {{ post.content | safe }}</h3>
        </div>

        <div class="g-recaptcha" data-sitekey="6LetUSYTAAAAALgTT8Rt2nLZ2OTBNph6Qa1TbrAH"></div> <br>
        <div id="requestButton" class="control-group">
            <div>
                <button type="submit" title="delete_post" class="btn btn-primary">Delete</button>
                <input action="action" type="button" value="Cancel" onclick="history.go(-1);" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
    <br>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace( 'editor1' );
</script>

{% endblock %}