{% extends "base.html" %}

{% block content %}
    <form data-parsley-validate id="share-form" data-parsley-focus="none" method="post">
        {{ form.csrf_token }}
        <div class="container-fluid" id="share-who">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="who-h1">Who Inspires You?</h1>
                    <p class="share-subheading">Share your story about an empowering female whose activism has inspired
                        you.</p>
                    <div class="who-input-group">
                        <div class="input-inline-fix">
                            {{ form.activist_first (id="first-name-field", class="share-who-input", placeholder="Mary", maxlength=64, required=true) }}
                        </div>
                        <div class="input-inline-fix">
                            {{ form.activist_last (id="last-name-field", class="share-who-input", placeholder="Smith", maxlength=64, required=true) }}
                        </div>
                    </div>
                    <p class="name-required">required</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 id="she-lived-heading">She Lived</h1>
                    <p class="share-subheading">If still living, enter "Today".</p>
                    <div class="who-input-group">
                        <div class="input-inline-fix">
                            {{ form.activist_start (id="activist-start", placeholder="1960", maxlength="4", class="share-who-input") }}
                        </div>
                        <span id="date-dash">&#8212;</span>
                        <div class="input-inline-fix">
                            {{ form.activist_end (id="activist-end", placeholder="Today", maxlength="5", class="share-who-input") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="about-her">
            <div class="row">
                <div class="col-md-12">
                    <h1>What is She Known For?</h1>
                    <p class="share-subheading">Choose one or more categories.</p>
                    <div>
                        <div>
                            {{ form.tags (id="hidden-tag-input", maxlength=500, required=true) }}
                        </div>
                    </div>
                    <div class="share-tags-group" data-toggle="buttons">
                        {% for tag in tags %}
                            <button type="button" class="share-tag share-inactive"
                                    value="{{ tag.id }}">{{ tag.name }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 id="share-her-story-heading">Share Her Story</h1>
                    <p class="share-subheading">Share a few words about how your female activist has inspired you and
                        others.</p>
                    <div>
                        {{ form.content (id="story-content", class="her-story-text", placeholder="Enter your story here", required=true) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 id="add-link-heading">Add a Link</h1>
                    <p class="share-link-subheading">Enter a URL to allow others to learn more about your female
                        activist
                        online.</p>
                    <div class="who-input-group">
                        <div>
                            {{ form.activist_url (id="activist-url", class="share-link-input", placeholder="https://womensactivism.nyc") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 id="add-media-heading">Add Media</h1>
                    <p class="add-media-subheading">Add your favorite photo or video of the woman activist to help
                        tell her story.</p>
                    <div class="who-input-group">
                        <button type="button" class="media-buttons" id="image-upload-btn">Image</button>
                        <button type="button" class="media-buttons" id="video-upload-btn">Video</button>
                    </div>
                    <div class="who-input-group" id="story-image-input">
                        {{ form.image_url (id="story-image-input-box", class="share-link-input", placeholder="http//womensactivism.nyc") }}
                    </div>
                    <div class="who-input-group" id="story-video-input">
                        {{ form.video_url (id="story-video-input-box", class="share-link-input", placeholder="http://youtube.com") }}
                    </div>
                    <br/>
                    <div id="media-back-div">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" id="media-back-btn"></span>
                        <span id="media-back-txt">Back</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="about-you">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="about-you-heading">Tell Us About Yourself</h1>
                    <p class="about-you-subheading">If you would like to share your name, enter below. Your email
                        address will not be made public.</p>
                    <div class="who-input-group">
                        {{ form.user_first (id="user-first-name-field", class="share-who-input", placeholder="Mary", maxlength=128) }}
                        {{ form.user_last (id="user-last-name-field", class="share-who-input", placeholder="Smith", maxlength=128) }}
                    </div>
                    <div class="who-input-group">
                        {{ form.user_email (id="user-email-field", class="share-you-email-input", placeholder="msmith@gmail.com", maxlength=254, type="email") }}
                    </div>
                   <div class="who-input-group">
                       <h1 id="subscription-heading">Subscribe to WomensActivism Email Notification</h1>
                        {{ form.subscription(id="user-subscription-btn") }}
                    </div>
                    <div class="who-input-group">
                        {{ form.submit (id="share-story-btn") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/share/share.js') }}"></script>
{% endblock %}
