{% extends "base.html" %}

{% block content %}
    <form data-parsley-validate id="unsubscribe-form" data-parsley-focus="none" method="post">
        {{ form.csrf_token }}
        <div class="container-fluid" id="unsubscribe">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="heading">Unsubscribe</h1>
                    <p class="about-you-subheading">Please enter the email address and/or phone number that you would like to unsubscribe from notifications</p>
                    <div class="who-input-group">
                        {{ form.email (id="user-email-field", class="unsubscribe-email-input", placeholder="msmith@gmail.com", maxlength=254, type="email") }}
                    </div>
                    <div class="who-input-group">
                        {{ form.phone (id="user-phone-field", class="subscribe-you-phone-input", placeholder="(555) 555-5555", maxlength=25) }}
                    </div>
                    <div class="who-input-group">
                        {{ form.submit (id="unsubscribe-btn") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.mask.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/parsley.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/unsubscribe/unsubscribe.js') }}"></script>
{% endblock %}
