{% extends "base.html" %}

{% block content %}
     <form data-parsley-validate id="unsubscribe-form" data-parsley-focus="none" method="post">
        {{ form.csrf_token }}
         <div class="container-fluid" id="unsubscribe">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="heading">Unsubscribe</h1>
                    <div class="who-input-group">
                        {{ form.user_email (id="user-email-field", class="unsubscribe-email-input", placeholder="msmith@gmail.com", maxlength=25, type="email") }}
                    </div>
                    <div class="who-input-group">
                        {{ form.submit (id="unsubscribe-btn") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}