<ul class="comments">
    {% for comment in comments %}
        <h1>sdalskdjfhaslkdjfh</h1>
    <li class="comment">
        <div class="comment-content">
            <div class="comment-date">
                {%  if comment.just_now() %}
                        Just Now
                {%  else %}
                        {{ moment(comment.creation_time).fromNow() }}
                {% endif %}
            </div>
            <div class="comment-content">
                {{ comment.content | safe }}
            </div>
            <div class="comment-flag">
                <a href="{{ url_for('flags.flag_comment', id=post.id, id2=comment.id) }}">
                    <span class="label label-primary">Flag</span>
                </a>
            </div>
            <div class="comment-edit">
                <a href="{{ url_for('posts.edit_comment', id=comment.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>