<div class="activist_information">
    <div class="share_title">Empowerment Partners<br>
        <h5>Strong female leaders from the arts, nonprofits, business, government, and community<br>
            organizations that provide strategic input, advice on program development, and insight on activists.</h5>
        <div class="row">

        </div>
    </div>
</div>
<div class="activist_story">
    <div class="empowerment_partners">
{#        <div class="empowerment_partners_left">Left Div#}
{#        </div>#}
{#        <div class="empowerment_partners_right">Right Div#}
{#        </div>#}
    </div>
</div>