<div class="activist_information">
    <div class="share_title">Empowerment Partners<br>
        <h5>Strong female leaders from the arts, nonprofits, business, government, and community<br>
            organizations that provide strategic input, advice on program development, and insight on activists.</h5>
        <div class="row">

        </div>
    </div>


    <div class="container-fluid ">
        <div class="row-fluid featured_empowerment_partner">


            <div class="col-md-4 featured_empowerment_partner">
                <div class="row-fluid">
                    <img src="{{ url_for('static', filename='img/empowerment_partners_photos/person1.png') }}">
                    <br>
                    <br>
                </div>
                <div class="row-fluid">
                    <h2>Elizabeth Cady Stanton <br>
                        and Susan B. Anthony <br>
                        Statue Fund
                        <br>
                    </h2>
                </div>
                <div class="row-fluid">
                    <h4> Loren ipsum dolor sit amet, <br>
                        consectetur adipiscing elit, Integer <br>
                        ac pretium mi, ut cursus justo. <br>
                        Nam suscipit orci felis. Lorem
                    </h4>
                    <br>
                </div>
                <div class="row-fluid">
                    <a href="#">
                        <button class="center-block get_involved_button">
                            Get Involved
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-md-4 featured_empowerment_partner">
                <div class="row-fluid">
                    <img src="{{ url_for('static', filename='img/empowerment_partners_photos/person2.png') }}">
                    <br>
                    <br>
                </div>
                <div class="row-fluid">
                    <h2> Ellevate
                        <br>
                        <br>
                        <br>
                    </h2>
                </div>
                <div class="row-fluid">
                    <h4> Loren ipsum dolor sit amet, <br>
                        consectetur adipiscing elit, Integer <br>
                        ac pretium mi, ut cursus justo. <br>
                        Nam suscipit orci felis. Lorem

                    </h4>
                    <br>
                </div>
                <div class="row-fluid">
                    <a href="#">
                        <button class="center-block get_involved_button">
                            Get Involved
                        </button>
                    </a>
                </div>
            </div>


            <div class="col-md-4 featured_empowerment_partner">
                <div class="row-fluid">
                    <img src="{{ url_for('static', filename='img/empowerment_partners_photos/person3.png') }}">
                    <br>
                    <br>
                </div>
                <div class="row-fluid">
                    <h2>City University of New York
                        <br>
                        <br>
                    </h2>
                </div>
                <div class="row-fluid">
                    <h4> Loren ipsum dolor sit amet, <br>
                        consectetur adipiscing elit, Integer <br>
                        ac pretium mi, ut cursus justo. <br>
                        Nam suscipit orci felis. Lorem

                    </h4>
                    <br>
                </div>
                    <div class="row-fluid">
                        <a href="#">
                            <button class="center-block get_involved_button">
                                Get Involved
                            </button>
                        </a>
                    </div>
            </div>
        </div>


    </div>


</div>


<div class="activist_story">
    <div class="empowerment_partners">
        <h2> Education</h2> <br>
        <h5>Adhikaar</h5> <br>
        <h5>Bella Abzug LeaderShip Institute</h5> <br>
        <h5>Berkshire Conference on Women</h5> <br>
        <h5>Elizabeth Cady Stanton Hometown Association</h5> <br>
        <h5>Feminist: Stories From Women's Liberation</h5> <br>
        <h5>Friends of the National Park for Women's Rights</h5> <br> <br>

        <h2> The Arts</h2> <br>
        <h5>Gotham Center</h5> <br>
        <h5>Kappa Kappa Gamma</h5> <br>
        <h5>League of Women Voters of NY City</h5> <br>
        <h5>League of Women Voters of NY State</h5> <br>
        <h5>Manhattan Borough President's Office</h5> <br>
        <h5>Museum of the City of NY</h5> <br>
        <h5>NYC Department of Records and Information Services</h5> <br>
        <h5>NYC Votes a Program of the NYC Campaign Finance Board</h5> <br>
        <br>
        <br>
        <br>

        <h2> History</h2> <br>
        <h5>National Collaborative for Women's History Sites</h5> <br>
        <h5>New York Council for Humanities</h5> <br>
        <h5>New York Cultural Tourism Network</h5> <br>
        <h5>NY Historical Society, Center for the study of Women's History</h5> <br>
        <h5>Queens Museum</h5> <br> <br>

        <h2> Public Health</h2> <br>
        <h5>SAGE - Services and Advocacy for Gay, Lesbian, Bisexual and Transgender Elders</h5> <br>
        <h5>SuffrageCentennials.com</h5> <br>
        <h5>Unite Women New York</h5> <br>
        <h5>Women on 20s</h5> <br>
        <h5>Women You Should Know</h5> <br>
        <h5>Women's City Club on New York</h5> <br>
        <h5>Woodlawn Cemetery</h5> <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
</div>