<div class="container">
    <div class="row activist_information">
        <div class="share_title">
            Empowerment Partners<br/>

            <h5>Strong female leaders from the arts, nonprofits, business, government,
                and community<br/>
                organizations that provide strategic input, advice on program development,
                and insight on activists.</h5>

            <div class="row"></div>
        </div>
        <div class="row-fluid featured_empowerment_partner">
            <div class="col-md-4 featured_empowerment_partner">
                <div class="row-fluid">
                    <img src="{{ url_for('static', filename='img/empowerment_partners_photos/person1.png') }}"/><br/>

                    <br/>
                </div>

                <div class="row-fluid">
                    <h2>Elizabeth Cady Stanton<br/>
                        and Susan B. Anthony<br/>
                        Statue Fund<br/></h2>
                </div>

                <div class="row-fluid">
                    <br>
                    <h4>Is a nonprofit, all-volunteer organization dedicated to placing <br/>
                        the first statue honoring women’s history in New York City’s <br/>
                        Central Park.<br/>
                        </h4><br/>

                </div>

                <div class="row-fluid">
                    <a class="empowerment_partners_link" href="#">
                        <button class=
                                        "center-block get_involved_button"><a class="empowerment_partners_link"
                                                                              href="#">Get Involved
                        </a></button>
                    </a>
                </div>
            </div>

            <div class="col-md-4 featured_empowerment_partner">
                <div class="row-fluid">
                    <img src=
                                 "{{ url_for('static', filename='img/empowerment_partners_photos/person2.png') }}"/><br/>

                    <br/>
                </div>

                <div class="row-fluid">
                    <h2>Ellevate<br/>
                        <br/>
                        <br/></h2>
                </div>

                <div class="row-fluid">
                    <h4> is the country's largest and oldest organization <br/>
                         dedicated to improving the lives of lesbian, <br/>
                            gay, bisexual and transgender older adults. <br/>
                   </h4><br/>
                </div>



                <div class="row-fluid">
                    <a class="empowerment_partners_link" href="#">
                        <button class="center-block get_involved_button"><a class="empowerment_partners_link" href="#">Get
                            Involved
                        </a></button>
                    </a>
                </div>
            </div>

            <div class="col-md-4 featured_empowerment_partner">
                <div class="row-fluid">
                    <img src="{{ url_for('static', filename='img/empowerment_partners_photos/person3.png') }}"/><br/>

                    <br/>
                </div>

                <div class="row-fluid">
                    <h2>City University of New York<br/>
                        <br/></h2>
                </div>

                <div class="row-fluid">
                    <h4>provides leadership and support across the state’s intellectual and <br/>
                        cultural sectors through grants, programs, networking, <br/>
                        and advocacy in order to encourage critical thinking<br/>
                        and cultural understanding in the public arena.</h4><br/>
                </div>

                <div class="row-fluid">
                    <a class="empowerment_partners_link" href="#">
                        <button class=
                                        "center-block get_involved_button"><a class="empowerment_partners_link"
                                                                              href="#">Get Involved
                        </a></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row empowerment_partners">
        <div class="col-md-4 col-md-push-1">
            <div class="row">
                <a class="empowerment_partners_link" href="http://aliceausten.org/">Alice Austen House</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.abzuginstitute.org/">Bella Abzug Leadership
                    Institute</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://berksconference.org/">Berkshire Conference of Women
                    Historians</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.brooklynhistory.org/">Brooklyn Historical
                    Society</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www2.cuny.edu/">City University of New York</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.monumentalwomen.org/index.php">Elizabeth Cady
                    Stanton
                    and Susan B. Anthony Statue Fund, Inc.</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.ecstantonhometown.org/">Elizabeth Cady Stanton
                    Hometown Association</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="https://www.ellevatenetwork.com/">Ellevate</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.feministstories.com/">Feminist: Stories from
                    Women's
                    Liberation</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.womensrightsfriends.org/">Friends of the National
                    Park for Women's Rights</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href=" http://www.girlvow.org/">Girl Vow, Inc.</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.gothamcenter.org/">Gotham Center for New York City
                    History</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="https://www.kappakappagamma.org/kappa/">Kappa Kappa Gamma</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.lwvnyc.org/">League of Women Voters of the City of
                    New York</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href=" http://www.lwvny.org/">League of Women Voters of NY
                    State</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href=" http://manhattanbp.nyc.gov/html/home/home.shtml">Manhattan
                    Borough President's Office</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.ncwhs.org/">National Collaborative for Women's
                    History Sites</a>
            </div>


            <div class="row">
                <a class="empowerment_partners_link" href="http://www.nwpc.org/">National Women's Political Caucus</a>

            </div>
        </div>
{#half way point#}
        <div class="col-md-4 col-md-push-2">
            <div class="row">
                <a class="empowerment_partners_link" href="http://www1.nyc.gov/site/genderequity/index.page">New York
                    City
                    Commission on Gender Equity</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href=" http://www.nyc.gov/html/records/html/home/home.shtml">New
                    York City Department of Records and Information Services</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.nyhumanities.org/">New York Council for
                    Humanities</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href=" http://newyorkculturalheritagetourismnetwork.com/">New York
                    Cultural Tourism Network</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href=" http://www.nyhistory.org/womens-history">New York Historical
                    Society, Center for the Study of Women's History</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www1.nyc.gov/site/genderequity/index.page">NYC
                    Commission
                    on Gender Equality</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.nyccfb.info/nyc-votes">NYC Votes a Program of the
                    NYC
                    Campaign Finance Board</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.queensmuseum.org/">Queens Museum</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.sageusa.org/">SAGE - Services and Advocacy for
                    Gay,
                    Lesbian, Bisexual, and Transgender Elders</a>

            </div>

            <div class="row">
                <a class="empowerment_partners_link"
                   href="http://www.suffragecentennials.com/">SuffrageCentennials.com</a>

            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://unitewomenny.org/">Unite Women New York</a>

            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.womenartsmediacoalition.org/#index">Women in the
                    Arts &amp; Media Coalition</a>

            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.womenon20s.org/">Women on 20s</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.womenyoushouldknow.net/">Women You Should Know</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.wccny.org/">Women's City Club of New York</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://womensenews.org/">Women&rsquo;s eNews</a>
            </div>

            <div class="row">
                <a class="empowerment_partners_link" href="http://www.woodlawnconservancy.org/">Woodlawn Conservancy</a>
            </div>
        </div>
    </div>
</div>
</div>