<div class="feedback_form">
    <div class="row">
        <p align="center">
            <span id="feedback_title">Our Story</span>
        </p>
    </div>
    <div class="row">
        <p align="center">
            <span id="our_story_tag">#20000By2020</span>
        </p>
    </div>
    <div class="row">
        <p align="center">
            <span id="our_story_body">
                WomensActivism.NYC is a five-year celebration of women's activism and the Women's Suffrage Centennial. The NYC<br>
                Department of Records and Information Services created WomensActivism.NYC to honor the anniversary of women<br>
                winning the right to vote in New York State in 2017 and in the United States in 2020. Our goal is to create a permanent<br>
                New York City archive of women who have made a difference through their acvitism and in turn inspire activism today.<br>
                The women in the archive may be famous or unknown. They may have lived in the past or may still be working today.<br>
                The only requirements are: they must be women and they must be activists.
            </span>
        </p>
    </div>
</div>