<div class="feedback_form">
    <div class="row">
        <p align="center">
            <span id="feedback_title">Our Story </span>
        </p>
    </div>
    <div class="row">
        <p align="center">
            <span id="hashtag"> #20000By2020 <br> </span>
        </p>
    </div>
    <div class="row" style="padding-left:5rem;padding-right:5rem;">

            <span id="our_story_body">
                <br>
                WomensActivism.NYC is a five-year celebration of women's activism and the Women's Suffrage Centennial.<br><br>
                The NYC Department of Records and Information Services created WomensActivism.NYC to honor the centennial of women winning the right to vote in New York State in 1917 and in the United States in 1920.<br><br>
                Our goal is to create a permanent New York City archive of women who have made a difference through their activism and in turn inspire activism today. The women in the archive may be famous or unknown. They may have lived in the past or may still be working today. The only requirements are: they must be women and they must be activists.<br><br>
                We’re collecting 20,000 stories by the 100th anniversary in 2020. Share a story.
                <br>
                <br>
                <br>

            </span>

    </div>
</div>