<head>
    <style type="text/css">
        A{text-decoration:none}
        #share-buttons img {
            width: 35px;
            padding: 5px;
            border: 0;
            box-shadow: 0;
            display: inline;
        }
    </style>
</head>

<body>

    <ul class="posts">
        {% for post in posts %}
            {% if post.is_visible%}
                <li class="post">
                                <div class="post-content">
                                    <div class="post-date">
                                        {%  if post.just_now %}
                                            Just Now
                                        {%  else %}
                                            {{ moment(post.creation_time).fromNow() }}
                                        {% endif %}
                                    </div>
                                    <div class="post-title"> <b>{{ post.title }}</b> </div>
                                    <div class="post-content">
                                        <div class="post-tag"></div>
                                            {{ post.content | safe}}
                                    </div>
                                </div>
                                <br>
            {#    {%  for tag.name in tag.name %}#}
            {#                {% %}#}
                                <div class="post-redirect">
                                    <a href="{{ url_for('posts.posts', id=post.id) }}">
                                        <span class="label label-primary">Link</span>
                                    </a>
                                </div>
                                <br>

                                <p1>
                                    Something wrong with this post? Tell us!
                                </p1>
                                {#       EDIT BUTTON #}
                                <div class="post-footer2">
                    {#                 <a href="{{url_for('.edit', id=post.id) }}">#}
                                    <a href="{{url_for('posts.posts', id=post.id) }}">
                                        <span class="label label-primary">Edit</span>
                                    </a>
                    {#            FLAG BUTTON#}
                                <div class="post-footer1">
                                    <a href="{{ url_for('flags.flag_post', id=post.id) }}">
                                        <span class="label label-primary">Flag</span>
                                    </a>
                                    <br>
                                </div>
            {#                    just added below #}
            {#                     <div class={{ .name }}>#}

                                </div>
                                <div></div>
                                    <div class="post-footer3">
                                <a href="{{ url_for('posts.posts', id=post.id) }}">
                                    <span class="label label-danger">Delete</span>
                                </a>

                                <p2>
                                    <br>
                                    Like this post? Share it with friends!
                                </p2>
                                <div id="share-buttons">
                                    <!-- Facebook -->
                                    <a href="http://www.facebook.com/sharer.php?url={{ url_for('posts.posts', id=post.id) }}" target="_blank">
                                        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook"/>
                                    </a>
                                    <!-- Tumblr-->
                                    <a href="http://www.tumblr.com/share/link?url={{ url_for('posts.posts', id=post.id) }}&amp;title={{ post.title }}" target="_blank">
                                        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
                                    </a>
                                    <!-- Twitter -->
                                    <a href="https://twitter.com/share?url={{ url_for('posts.posts', id=post.id) }}&amp;text={{ post.title }}&amp;hashtags=WomensActivismNYC" target="_blank">
                                        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                                    </a>
                                </div>
                            </li>
            {% endif %}
        {% endfor %}
    </ul>

</body>