<head>
    <style type="text/css">
        A{text-decoration:none}
    </style>
</head>

<body>

    <ul class="posts">
        {% for post in posts %}

        <li class="post">
            <div class="post-content">
                <div class="post-date">
                    {%  if post.just_now %}
                        Just Now
                    {%  else %}
                        {{ moment(post.creation_time).fromNow() }}
                    {% endif %}
                </div>
                <div class="post-title"> <b>{{ post.title }}</b> </div>
                <div class="post-content">
                    {{ post.content | safe}}
                    <!--{% if post.content_html %}-->
                        <!--{{ post.content_html | safe }}-->
                    <!--{% else %}-->
                        <!--{{ post.content }}-->
                    <!--{% endif %}-->
                </div>
            </div>
            <br>

            <div class="post-redirect">
                <a href="{{ url_for('posts.posts', id=post.id) }}">
                    <span class="label label-primary">View this post on a single page</span>
                </a>
            </div>
            <br>

            <p1>
                Something wrong with this post? Tell us
            </p1>
            <div class="post-footer">
                <a href="{{ url_for('flags.flags', id=post.id) }}">
                    <span class="label label-primary">Flag</span>
                </a>
            </div>
            <br>

            <p2>
                Like this post? Share it with friends!
            </p2>
            <div id="share-buttons">
                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?url={{ url_for('posts.posts', id=post.id) }}" target="_blank">
                    <img src="../static/facebook_icon.png" alt="Facebook" width="35" height="35" />
                </a>
                <!-- Tumblr -->
                <a href="http://www.tumblr.com/share/link?url={{ url_for('posts.posts', id=post.id) }}&amp;title={{ post.title }}" target="_blank">
                    <img src="../static/tumblr_icon.png" alt="Tumblr" width="35" height="35" />
                </a>
                <!-- Twitter -->
                <a href="https://twitter.com/share?url={{ url_for('posts.posts', id=post.id) }}&amp;text={{ post.title }}&amp;hashtags=WomensActivismNYC" target="_blank">
                    <img src="../static/twitter_icon.png" alt="Twitter" width="35" height="35" />
                </a>
            </div>
        </li>

        {% endfor %}
    </ul>

</body>



