<body>
<center>
     <h1>Who Inspires You?</h1> <br> <br> <br>
    <form action="action_page.php">
        <fieldset>
    <h4>Name:</h4><br>
    <input type="text" name="name">
            <h1>She Lived</h1> <br> <br> <br>
            <h4>Time lived</h4><br>
    <input type="text" name="born">
    <input type="text" name="death">
            <h1>What is She Known For?</h1> <br> <br> <br>
            <h1>Share Her Story</h1> <br> <br> <br>
            <h4> My mother was</h4><br>
    <input type="" name="mother ">
            <br>
            <br>
            <br>
            <br>
            <div class="post-footer2">
            <button type="button" class="btn btn-secondary">Add Media</button>
                </div>
            <h1>Tell Us About Yourself</h1> <br> <br> <br>
    <input type="text" name="text ">
            <br>
    <input type="text" name="text2 ">
            <br>
    <input type="text" name="text3 ">

            <div class="post-footer3">
            <button type="button" class="btn btn-secondary">Share</button>
            </div>

    </form>
</center>
</body>

