<h1>Steering Committee</h1>
<h4> Strong female leaders from arts, nonprofits, business, government, and community organizations <br>
    that provide strategic input, advice on program development, and insight on activist.<br>
    <br>
    <br>
</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/gael_brewer.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Gale Brewer</h3>
                    <h5> Manhattan Borough President </h5>
                </div>
            </div>

                <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/julie_golia.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Julie Golia</h3>
                    <h5> Director of Public History, Brooklyn <br> Historical Society </h5>
                </div>
            </div>

                <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/susan_herr.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Susan Herr </h3>
                    <h5> Chief Engagement Office at SAGE <br> (Services and Advocacy for GLBT Elders) </h5>
                </div>
            </div>

                <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/coline_jenkins.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Coline Jenkins</h3>
                    <h5> Great-great Granddaughter of <br> Elizabeth Cady Stanton </h5>
                </div>
            </div>

                    <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/valerie_paley.png') }}">
                </div>
                <div class="col-md-8">
                    <h3>Valerie Paley</h3>
                    <h5> Chief Historian and Vice President for Scholarly <br>
                        Programs, New York Historical Society and <br>
                        Center for the Study of Women's History
                    </h5>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/reshma_saujani.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Reshma Saujani</h3>
                    <h5> Founder and CEO, Girls Who Code</h5>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/pauline_toole.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Pauline Toole</h3>
                    <h5> Commissioner, City of New York, Department <br>
                    of Records and Information Services
                    </h5>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/christina_yang.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Christina Yang</h3>
                    <h5> Brooklyn New York</h5>
                </div>
            </div>

        </div>


        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/pam_elam.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Pam Elam</h3>
                    <h5> President, Elizabeth Cady Stanton and <br>
                         Susan B. Anthony Statue Fund </h5>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/pat gray.jpeg') }}">
                </div>
                <div class="col-md-8">
                    <h3> Pat Gray</h3>
                    <h5> Director of Corporate Relations and <br>
                         Special Events, Office of University <br>
                         Relations, The City University of New York
                    </h5>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/kayhan_irani.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Kayhan Irani</h3>
                    <h5> Emmy award winning writing and Theater <br>
                         of the Oppressed trainer </h5>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/Janice copy.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Janice Monger</h3>
                    <h5> Executive Director, Alice Austen House </h5>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/preranna_reddy.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Preranna Reddy </h3>
                    <h5> Director of Public Programs and Community <br>
                         Engagement, Queens Museum
                    </h5>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/tracy_penn_sweet.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Tracy Penn Sweet</h3>
                    <h5> Program Director Women's Suffrage <br>
                         Centennial, City of New York, Department <br>
                         of Records and Information Service
                    </h5>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/nico_wheadon.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Nico Wheadon</h3>
                    <h5> Director, Public Programs & Community <br>
                         Engagement the Studio Museum in Harlem

                    </h5>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <img class="people"
                         src="{{ url_for('static', filename='img/steering_committee_photos/susan_yohn.png') }}">
                </div>
                <div class="col-md-8">
                    <h3> Susan Yohn</h3>
                    <h5> Chair of the History Deparement, Hofstra <br>
                         University and President, Berkshire <br>
                         Conference on the History of Women
                    </h5>
                </div>
            </div>

        </div>
    </div>
</div>