<center>
    <form name="input" class="form-horizontal" id="submitPost" method="post">
        <div class="lead">I'm Looking For Women Known For<br>
            <h5>You may choose more than one category to narrow your search.</h5>
            <div class="control-group">
                <select class="selectpicker" data-width="fit" name="input_tags" multiple required>
                    {% for tag in tags %}
                        {% if tag.name in tag_list %}
                            <option selected value="{{ tag.name }}">{{ tag.name }}</option>
                        {% else %}
                            <option value="{{ tag.name }}">{{ tag.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="requestButton" class="control-group">
            <div>
                <button type="submit" title="filter_stories" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>

    <br>

    {% for post in posts %}
        {{ post.activist_first }} {{ post.activist_last }} <br>
        {{ post.id }} <br>
        {{ post.content }} <br> <br>
    {% endfor %}

</center>
