{% import "_macros.html" as macros %}

<div class="activist_story">
    <div class="share_title">I'm Looking For Women Known For<br>
        <h5>You may choose more than one category to narrow your search.</h5>
        <div class="control-group">
            {% for list in tags %}
                <div class="row">
                {% for tag in list %}
                    {% if tag.name in tag_list %}
                        <button onclick="get_tags('{{ tag.name }}')" type="button" value="{{ tag.name }}" class="btn btn-primary active" data-toggle="button"
                                name="{{ tag.name }}" aria-pressed="true" autocomplete="off" >{{ tag.name }}</button>
                    {% else %}
                        <button onclick="get_tags('{{ tag.name }}')" type="button" value="{{ tag.name }}" class="btn btn-primary" data-toggle="button"
                                name="{{ tag.name }}" aria-pressed="false" autocomplete="off" >{{ tag.name }}</button>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
        </div> <br> <br>
    </div>
</div>

<div id="filtered-stories" style="text-align: center; margin-top: 2em;">
    {% include 'story_cards.html' %}
{#    <center>{{ macros.pagination_widget(pagination, 'main.catalog') }}</center>#}
</div>

<br>

<div class="who_inspires_you">
    <div class="share_title">Who Inspires You?<br>
        <h5>Share your story about an empowering female<br>
            whose activism has inspired you.</h5>
        <div id="requestButton" class="control-group">
            <div>
                <a href="{{ url_for('stories.share') }}">
                    <button title="share_your_story" class="btn btn-primary" id="hero_action_button">
                        Share Your Story
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
