{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>

{% block title %}Womens Activism NYC{% endblock %}

{% block content %}
    {% block hear_our_story %}
        {% include "_hear_our_story.html" %}
    {% endblock %}

    {% block steering_committee %}
        {% include "_steering_committee.html" %}
    {% endblock %}

    {% block empowerment_partners %}
        {% include "_empowerment_partners.html" %}
    {% endblock %}


{% endblock %}
