{% extends "bootstrap/base.html" %}

{% block head %}

    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block navbar %}
    {% block header_icon %}
            <nav class="navbartest">
            <a href="{{ url_for('main.index') }}">
                        <center>
                        <img alt="hi" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/1688221_796075630408020_1581764105_n.jpg?oh=9d37959ab12b653154699843276c3677&oe=585854F6"
                         height="50" width="40">
                        </center>
                    </a>
                </div>
                </div>
            </nav>


    {% endblock %}

    {% block header_navbar %}
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
{#                <a class="navbar-brand" href="{{ url_for('main.index') }}"></a>#}
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('main.about') }}">ABOUT</a></li>
                        <li><a href="{{ url_for('main.archive') }}">ARCHIVE</a></li>
                        <li><a href="{{ url_for('feedback.feedback') }}">CONTACT</a></li>
                        <li><a href="{{ url_for('main.archive') }}">GIVE</a></li>
                        <li><a href="{{ url_for('main.share') }}">SHARE</a></li>
                        <li><a href="{{ url_for('tags.tags') }}">Tags</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}


{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
        var myElements = document.querySelectorAll(".remove-videodetector");
        for (var i = 0; i < myElements.length; i++) {
            myElements[i].style.display = 'none';
        }
    </script>
{% endblock %}
