{% extends "bootstrap/base.html" %}

{% block title %}Women's Activism NYC{% endblock %}

{% block head %}
{{ super() }}
<link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
<link type="image/x-icon" rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='nyc_gov/styles.css') }}"/>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block navbar %}
{% block nyc_gov_header %}
{% include '_nyc_gov_header.html' %}
{% endblock %}
{% block logo %}
<div class="row">
    <div class="span4"></div>
    <div class="span4"><img class="center-block header_logo"
                            src="{{ url_for('static', filename='img/womens_activism_nyc_logo.png') }}"/></div>
    <div class="span4"></div>
</div>
{% endblock %}

{% block navigation %}
{% include 'navbar.html' %}
{% endblock %}

{% endblock %}

{% block content %}
<div class="container-fluid">

    {% block page_content %}
    {% endblock %}

</div>
{% block footer %}
<div class="row">
    <div class="initiative">

    </div>


</div>
{% include '_nyc_gov_footer.html' %}
{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap_womens_activism.css') }}"/>
<script>
    var myElements = document.querySelectorAll(".remove-videodetector");
    for (var i = 0; i < myElements.length; i++) {
        myElements[i].style.display = 'none';
    }
</script>
{% endblock %}
