{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Womens Activism NYC{% endblock %}

{% block content %}
    {% block tags %}
        {% include "_tags.html" %}
    {% endblock %}

{#    {% block join_the_conversation %}#}
{#        {% include "_join_the_conversation.html" %}#}
{#    {% endblock %}#}

{#    {% block share_your_story %}#}
{#        {% include "_timeline.html" %}#}
{#    {% endblock %}#}

{#    {% block submit_share_story %}#}
{#        {% include "_submit_comment.html" %}#}
{#    {% endblock %}#}

{#    {% block attend_our_events %}#}
{#        {% include "_empowerment_partners.html" %}#}
{#    {% endblock %}#}

    {% block share_your_story %}
        {% include "_share_your_story.html" %}
    {% endblock %}

{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script type="text/javascript">
function get_tags(tag_name) {
    $(this).click(function() {
        var tag_list = [];
        var all_filters = document.getElementsByClassName("active");
        console.log('All Filters');
        console.log(all_filters);
        for (var i = 0; i < all_filters.length; i++) {
            console.log(all_filters[i].value);
            tag_list.push(all_filters[i].value);
        }
        $.ajax({
            type: "POST",
            url: '/_get_tags',
            dataType: 'application/json',
            data: JSON.stringify(tag_list),
            success: function (response) {
                console.log(tag_list);
            },
            error: function (error) {
                console.log(error);
            }
        })
    })
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
{% endblock %}
