{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Womens Activism NYC{% endblock %}

{% block content %}
    {% block tags %}
        {% include "_tags.html" %}
    {% endblock %}

{#    {% block join_the_conversation %}#}
{#        {% include "_join_the_conversation.html" %}#}
{#    {% endblock %}#}

{#    {% block share_your_story %}#}
{#        {% include "_timeline.html" %}#}
{#    {% endblock %}#}

{#    {% block submit_share_story %}#}
{#        {% include "_submit_comment.html" %}#}
{#    {% endblock %}#}

{#    {% block attend_our_events %}#}
{#        {% include "_empowerment_partners.html" %}#}
{#    {% endblock %}#}

    {% block share_your_story %}
        {% include "_share_your_story.html" %}
    {% endblock %}

{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script type="text/javascript">
function get_tags(tag_name) {
    var tag_list = [];  // initialize list of tags to pass to view function
    var tag_button = document.getElementsByName(tag_name)[0];  // get html of button clicked
    var all_filters = document.getElementsByClassName("active");  // get NodeList of active buttons
    if (tag_button.getAttribute("aria-pressed") == "false") {
        tag_list.push(tag_button.name);
    }
    for (var i = 0; i < all_filters.length; i++) {
        tag_list.push(all_filters[i].value);
    }
    if (tag_button.getAttribute("aria-pressed") == "true") {
        var index = tag_list.indexOf(tag_button.name);
        tag_list.splice(index, 1);
    }
    $.ajax({
        type: "POST",
        url: '/_get_tags',
        dataType: 'html',
        data: JSON.stringify(tag_list),
        success: function (response) {
            var filtered_posts = $('#filtered-posts');
            filtered_posts.html(response);
        },
        error: function (error) {
            console.log(error);
        }
    })
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
{% endblock %}
