{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>

{% block title %}Womens Activism NYC{% endblock %}

{% block content %}
    {% block tags %}
        {% include "_tags.html" %}
    {% endblock %}

{#    {% block join_the_conversation %}#}
{#        {% include "_join_the_conversation.html" %}#}
{#    {% endblock %}#}

{#    {% block share_your_story %}#}
{#        {% include "_timeline.html" %}#}
{#    {% endblock %}#}

{#    {% block submit_share_story %}#}
{#        {% include "_submit_comment.html" %}#}
{#    {% endblock %}#}

{#    {% block attend_our_events %}#}
{#        {% include "_empowerment_partners.html" %}#}
{#    {% endblock %}#}

{#    {% block share_your_story %}#}
{#        {% include "_share_your_story.html" %}#}
{#    {% endblock %}#}

    <div id="footer">
{% include '_nyc_gov_footer.html' %}
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script type="text/javascript">
function get_tags(tag_name) {
    var tag_list = [];  // initialize list of tags to pass to view function
    var tag_button = document.getElementsByName(tag_name)[0];  // get html of button clicked
    var all_filters = document.getElementsByClassName("active");  // get NodeList of active buttons before button press
    if (tag_button.getAttribute("aria-pressed") == "false") {  // check if button pressed was not active before
        tag_list.push(tag_button.name);  // add tag name of button to tag list
    }
    for (var i = 0; i < all_filters.length; i++) {  // loop through NodeList of all active buttons before button press
        tag_list.push(all_filters[i].value);  // add tag names of all active buttons to tag list
    }
    if (tag_button.getAttribute("aria-pressed") == "true") {  // check if button pressed was active before
        var index = tag_list.indexOf(tag_button.name);  // find index of tag name in tag list
        tag_list.splice(index, 1);  // remove tag name of button from tag list
    }
    $.ajax({  // ajax request sending list of tags to _get_tags function, returns html of _filtered_stories.html
        type: "POST",
        url: '/_get_tags',
        dataType: 'html',
        data: JSON.stringify(tag_list),
        success: function (response) {
            var filtered_stories = $('#filtered-stories');
            filtered_stories.html(response);
        },
        error: function (error) {
            console.log(error);
        }
    })
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
{% endblock %}
