<div class="row">
    <div class="featured_story">
        <div class="col-sm-4 featured_story_image">
            <img src="{{ featured_story['image_link'] }}" class="featured_story_image" />
        </div>
        <div class="col-sm-8 col-sm-pull-4">
            <div class="row">
                <span class="featured_story_name">{{ featured_story['activist_first']}}&nbsp;{{ featured_story['activist_last'] }}</span>
            </div>
            <div class="row">
                <span class="featured_story_quote">"{{ featured_story['quote'] }}"</span>
            </div>
        </div>
    </div>
</div>