<div class="jumbotron" id="project-info">
  <div id="project-info-content">
    <h1>WomensActivism.NYC is a project of the <a href="http://www.nyc.gov/records" class="records-link">NYC Department of Records and Information Services</a></h1>
  </div>
</div>
<div class="container-fluid" id="social-footer">
  <div class="row">
    <div class="col-md-12">
      <div class="social-links">
        <a href="https://twitter.com/WomensActivism" target="_blank"><img src="/static/img/twitter_icon.png" /></a>
        <a href="https://www.instagram.com/womensactivism.nyc/" target="_blank"><img src="/static/img/instagram_icon.png" /></a>
        <a href="https://www.facebook.com/womensactivism.nyc" target="_blank"><img src="/static/img/facebook_icon.png" /></a>
      </div>
      <div class="copyright">
        <p>Copyright &copy;2016 - Design By Bureau Blank</p>
      </div>
    </div>
  </div>
</div>