
<h1> Community Guidelines </h1>


<h3>Our Community Standards aim to find the right balance between giving people a place <br>
    to express themselves and promoting a welcoming and safe environment for everyone. </h3>


  <h2>    Key principles: </h2>
 <h3>Keeping you safe. </h3> <h4>We have zero tolerance for any behavior that puts people in <br>
    danger, whether someone is advocating real-world violence or bullying
    <br> other people. </h4>
Encouraging respectful behavior. We prohibit sexually explicit, hateful, and violent content.
Acknowledging cultural diversity. You may not promote violence against or directly attack or threaten other people on the basis of race, ethnicity, national origin, sexual orientation, gender, gender identity, religious affiliation, age, disability, or disease.
Follow the law. You may not use our website for any unlawful purposes or in furtherance of illegal activities. International users agree to comply with all local laws regarding online conduct and acceptable content.
Empowering you with tools to control what you see. We have provided an option to email us to report things that are inaccurate or inappropriate
Keeping you safe. Your email address will not be posted on the site or shared with anyone.
