{% extends "base.html" %}
{% block page_content %}

<div class="guidelines">
<h1> Community Guidelines </h1>


<b>WomensActivism.NYC established community standards <br>
    that create a balance between encouraging free expression and ensuring a welcoming and safe platform. <br>
</b>

  <h2>    Key principles: </h2>

 <h3>1) Zero tolerance.</h3>

<b> Posts that advocate behavior that endangers people, <br>
    whether real-world violence or bullying will be removed.



<h3> 2) Respectful behavior. </h3>
    <b> Sexually explicit, hateful, and violent content is prohibited.<br>
        Posts with such content will be removed.  </b>

<h3> 3) Support for cultural diversity. </h3>
 <b> Demeaning or threatening posts on the basis of race, ethnicity, <br>
     national origin, sexual orientation, gender, gender identity, <br>
     religious affiliation, age, disability, or disease will be removed.
     </b>

<h3> 4) Follow the law. </h3>
    <b>
        Posts that further unlawful purposes or illegal activities will be <br>
        removed. International users agree to comply with all local laws <br>
        regarding online conduct and acceptable content.
    </b>


<h3> 5) Take action.</h3>

    <b>We have provided the option to report inaccurate or inappropriate posts.

    </b> </b>

    <h3> 6) Keeping you safe.  </h3>
    <b> Your email address will not be made public or shared.
 </b>
</div>

{% endblock %}
