{% extends "base.html" %}

{% block page_content %}
<center>
<h1> Community Guidelines </h1>


<a>Our Community Standards aim to find the right balance between giving people a place <br>
    to express themselves and promoting a welcoming and safe environment for everyone. </a>


  <h2>    Key principles: </h2>
 <h3>1) Keeping you safe.</h3>
<a>We have zero tolerance for any behavior that puts people in <br>
    danger, whether someone is advocating real-world violence or bullying
    <br> other people. </a>



<h3> 2)Encouraging respectful behavior. </h3>
    <a>We prohibit sexually explicit, hateful, and violent content. </a>

<h3> 3)Acknowledging cultural diversity. </h3>
 <a> You may not promote violence against or <br>
     directly attack or threaten other people on the basis of race, ethnicity, national <br> origin,
     sexual orientation, gender, gender identity, religious affiliation, age, disability, or disease.
     </a>

<h3> 4)Follow the law. </h3>
    <a>
        You may not use our website for any unlawful purposes or in <br>
        furtherance of illegal activities. International users agree to comply with all <br>
        local laws regarding online conduct and acceptable content.
    </a>


<h3> 5)Empowering you with tools to control what you see.</h3>

    <a> We have provided an option to email us to report things that are inaccurate or inappropriate </a>

    <h3> 6) Keeping you safe.  </h3>
    <a>Your email address will not be posted on the site or shared with anyone.
 </a>
    </center>

{% endblock %}

