<div class="row" id="hero">
    <div class="hero_image center-block">
        <p id="hero_header">
            <br/>
            Celebrate Women's Equality Day
        </p>
        <p id="hero_message">
            Help build the first permanent catalog of women activists in NYC by sharing a story that inspires you. <br/>
            Collecting #20000by2020
        </p>
        <br />
        <a href="{{ url_for('stories.shareastory') }}">
            <button class="center-block" id="hero_action_button">
                Share Your Story
            </button>
        </a>
        <br />
    </div>
</div>