<div class="row-fluid hero_image" id="hero">
    <div class="col-xs-12">
        <p class="hero_header">
            Celebrate Women's Equality Day
        </p>
        <p class="hero_message">
            Help build the first permanent catalog of women activists in NYC by sharing a story that inspires you. <br/>
            Collecting #20000By2020
        </p>
        <br/>
        <a href="{{ url_for('stories.share') }}">
            <button class="center-block hero_action_button">
                Share Your Story
            </button>
        </a>
        <br/>
    </div>
</div>
