{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>

{% block title %}NYC Womens Activism{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome</h1>
</div>
{{ wtf.quick_form(form) }}
    <br>
<ul class="posts">
    {% for post in posts %}

    <li class="post">
        <div class="post-content">
            <div class="post-date">{{ moment(post.creation_time).fromNow() }}</div>
            <div class="post-title"> <b>{{ post.title }}</b> </div>
            <div class="post-content">{{ post.content }}</div> <br>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}