{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>

{% block title %}NYC Womens Activism{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome</h1>
</div>
<div>
{{ wtf.quick_form(form) }}
    <div class="g-recaptcha" data-sitekey="6LexECYTAAAAAFaNYELFVlBX_ARf8_4QETX9SjYK"></div>
    <br>
</div>

{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}