{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Women's Activism NYC{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Share Your Activist Story</h1>
</div>
<div>

<div id="page-body">
    <form name="input" class="form-horizontal" id="submitPost" method="post">
        <div class="lead">Activist Name
            <div class="control-group">
                <input class="input_title" name="input_title" name="Activist Name"
                       maxlength="140" value="{{ post_title or '' }}" required>
            </div>
        </div>
        <div class="lead">Content
            <div class="control-group">
                <textarea id="editor1" name="editor1" required>{{ post_content or '' }}</textarea>
            </div>
        </div>
        <div class="lead">Tags
            <div class="control-group">
                <select class="selectpicker" data-width="fit" name="input_tags" multiple required>
                    {% for tag in tags %}
                        <option value="{{ tag.name }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LetUSYTAAAAALgTT8Rt2nLZ2OTBNph6Qa1TbrAH"></div> <br>
        <div id="requestButton" class="control-group">
            <div>
                <button type="submit" title="submit_post" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
    <br>
</div>

<div class="posts-header">
    <h2>Recent Posts</h2>
</div>

{% include '_posts.html' %}

{% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="static/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('editor1');
</script>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
{#<script>#}
{#    var expanded = false;#}
{#    function showTagButtons() {#}
{#        var tagButtons = document.getElementById("tagButtons");#}
{#        if (!expanded) {#}
{#            tagButtons.style.display = "block";#}
{#            expanded = true;#}
{#        } else {#}
{#            tagButtons.style.display = "none";#}
{#            expanded = false;#}
{#        }#}
{#    }#}
{#</script>#}
{#<script>#}
{#    $(".btn").click(function(){#}
{#       $(this).hasClass("active") ? $(this).removeClass("active") : $(this).addClass("active");#}
{#    });#}
{#</script>#}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
{% endblock %}