{% extends "base.html" %}

{% block title %}Women's Activism NYC{% endblock %}


{% block page_content %}
    {% include 'hero.html' %}
    <span class="spacer">&nbsp;</span>
    {% include 'story_counter.html' %}
    <span class="spacer">&nbsp;</span>
{#    {% include 'story_cards.html' %}#}
{#    <span class="spacer">&nbsp;</span>#}
    {% include 'give.html' %}
    <span class="spacer">&nbsp;</span>
    {% if featured_story %}
        {% include 'featured_story.html' %}
    {% endif %}
    {% if then_and_now %}
        {% include 'then_and_now.html' %}
    {% endif %}


{% endblock %}

