{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>


{% block title %}Womens Activism NYC{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Welcome</h1>
</div>
<div>
<!--NEW STUFF HERE-->
<div id="page-body">
    <form name="input" class="form-horizontal" id="submitPost" method="post">
        <div class="lead">Title
            <div class="control-group">
                <input class="input_title" name="input_title" name="Title" maxlength="140" required>
            </div>
        </div>
        <div class="lead">Content
            <div class="control-group">
                <textarea id="editor1" name="editor1" required></textarea>
            </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LetUSYTAAAAALgTT8Rt2nLZ2OTBNph6Qa1TbrAH"></div> <br>
        <div id="requestButton" class="control-group">
            <div>
                <button type="submit" title="submit_post" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
    <br>
</div>

<div class="posts-header">
    <h2>Recent Posts</h2>
</div>

{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace( 'editor1' );
</script>
{{ pagedown.include_pagedown() }}
{% endblock %}