{% extends "base.html" %}

{% block page_content %}
<a class="lightbox" href="#goofy">
   <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/158388/goofy.jpg"/>
</a>
<div class="lightbox-target" id="goofy">
   <form name="input" class="form-horizontal" id="submitPost" method="post">
        <div class="lead">Activist Name
            <div class="control-group">
                <input class="input_title" name="input_title" name="Activist Name"
                       maxlength="140" value="{{ post_title or '' }}" required>
            </div>
        </div>
        <div class="lead">Content
            <div class="control-group">
                <textarea id="editor1" name="editor1" required>{{ post_content or '' }}</textarea>
            </div>
        </div>
        <div class="'lead">Tags
            <div class="'dropdown">
                <select id="tags" name="tags" required>
                    {% for tag in tags %}
                        {{ tag.name }}
                        <option>{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LetUSYTAAAAALgTT8Rt2nLZ2OTBNph6Qa1TbrAH"></div> <br>
        <div id="requestButton" class="control-group">
            <div>
                <button type="submit" title="submit_post" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
   <a class="lightbox-close" href="#"></a>
</div>
{% endblock %}