{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Women's Activism NYC{% endblock %}

<style type="text/css">
    A {text-decoration: none}
    #share-buttons img {
        display: inline;
    }
</style>

{% block page_content %}
<body>
<div class="page-header">
    <h1>{{ post.title }}</h1>
</div>
<div class="page-body">
    <p>{{ post.content | safe }}</p>
</div>
<div class="time-made">
    {% if post.just_now %}
    Posted: Just Now
    {% else %}
    Posted: {{ moment(post.creation_time).fromNow() }}
    {% endif %}
</div>
{% if post.is_edited == True %}
This post was edited
{% endif %}

<br> <br>
<p1>
    Something wrong with this post? Tell us!
</p1>
<div class="post-flag">
    <a href="{{ url_for('flags.flags', id=post.id) }}">
        <span class="label label-primary">Flag</span>
    </a>
</div>
<br>
<p2>
    Like this post? Share it with friends!
</p2>
<div id="share-buttons">
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{ url_for('posts.posts', id=post.id, _external=True) }}" target="_blank">
        <img src="../static/facebook_icon.png" alt="Facebook" width="32" height="32" />
    </a>
    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{ url_for('posts.posts', id=post.id, _external=True) }}&name={{ post.title }}&description=WomensActivismNYC" target="_blank">
        <img src="../static/tumblr_icon.png" alt="Tumblr" width="32" height="32" />
    </a>
    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{ url_for('posts.posts', id=post.id, _external=True) }}&text={{ post.title }}&hashtags=WomensActivismNYC" target="_blank">
        <img src="../static/twitter_icon.png" alt="Twitter" width="32" height="32" />
    </a>
</div>
</body>
{% endblock %}