<a style="display:block" href="{{ url_for('stories.stories', id=story['id']) }}">
    <div class="col-sm-3 card" style="height: 31rem;">
        <div class="col-sm-12">
            <div class="row" style="text-align: center; font-weight: bold;">
            <span class="card-header">{{ story['activist_first'] }}&nbsp;{{ story['activist_last'] }}</span>
            </div> <br>
            {% if story['image_link'] %}
                <div class="row" style="text-align: center;">
                    <span class="card-summary">{{ story['content'][:50] }}...</span>
                </div> <br>
                <div class="row" style="text-align: center;">
                    <img class="card-image" src="{{ story['image_link'] }}">
                </div> <br>
            {% else %}
                <div class="row">
                    <span class="card-summary">{{ story['content'][:150] }}...</span>
                </div>
            {% endif %}
        </div>
    </div>
</a>