<div class="story_counter">
    <div class="row_fluid">
        <p align="center">
            <span id="num_stories">{{ "{:,}".format(visible_stories) }}&nbsp;</span>
            <span id="stories_description">Stories Collected,&nbsp;</span>
            <span id="num_stories">{{ "{:,}".format(missing_stories) }}&nbsp;</span>
            <span id="stories_description">More by 2020&nbsp;</span>
        </p>
    </div>
    <div class="row_fluid">
        <p align="center">
            <span id="hashtag">#20000By2020</span>
        </p>
    </div>
</div>