<div class="story_counter">
    <div class="container">
        <p align="center">
            <span id="num_stories">{{ "{:,}".format(visible_stories) }}&nbsp;&nbsp;</span><span
                id="stories_description">Stories Collected,&nbsp;&nbsp;</span><span
                id="num_stories">{{ "{:,}".format(missing_stories)}}&nbsp;&nbsp;</span><span id="stories_description">More by 2020</span>
        </p>
    </div>
    <div class="row">
        <p align="center">
            <span id="hashtag">#20000By2020</span>
        </p>
    </div>
</div>